{% extends "layout.html" %}

{% block pageTitle %}
    Suspend organisation - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Organisation suspended"
            }) }}

            <p>{{ data['organisation-name'] }} has been suspended.</p>

            <p>
                <a href="dashboard-service-prap" class="govuk-link">Back to dashboard</a>
            </p>
        </div>
    </div>
{% endblock %}
