{% extends "layout.html" %}

{% block pageTitle %}
  User added - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% set panelTitle %}
        {% if data["user-access-rights"] == 'admin' %}
            Admin added
        {% else %}
            User added
        {% endif %}
    {% endset %}

    {% set panelContent %}
        {% if data["organisation-name"] == 'dwp' %}
            {{ data["user-full-name"] }} added to the Department for Work and Pensions
        {% else %}
            {{ data["user-full-name"] }} added to {{ data["organisation-name"] }}
        {% endif %}
    {% endset %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: panelTitle,
                html: panelContent
            }) }}

            <p>An invitation has been sent to {{data['user-email-address']}}</p>

            <p>
                {% if data['organisation-name'] == 'dwp' %}
                    <a href="user-add-user-prap-dwp" class="govuk-link">
                        Add another DWP user
                    </a>
                {% else %}
                    <a href="javascript:window.history.back()" class="govuk-link">
                        Add another user to {{ data['organisation-name'] }}
                    </a>
                {% endif %}
            </p>

            <p>
                <a href="dashboard-service-prap" class="govuk-link">
                    Back to dashboard
                </a>
            </p>
        </div>
    </div>
{% endblock %}
