<nav class="navigation-global">
    <ul class="govuk-width-container">
        <li>
            <a href="/v3/dashboard-health-assessment" {% if activeNav == 'dashboard' %}class="active" aria-current="page"{% endif %}>Dashboard</a>
        </li>

        <li>
            <a href="/v3/organisation-list-health-assessment" {% if activeNav == 'organisations' %}class="active" aria-current="page"{% endif %}>Partner organisations</a>
        </li>

        <li>
            <a href="/v3/user-list" {% if activeNav == 'users' %}class="active" aria-current="page"{% endif %}>Users</a>
        </li>
    </ul>
</nav>
