{{ govukRadios({
  idPrefix: "user-access-rights",
  name: "user-access-rights",
  fieldset: {
    legend: {
      text: "Access rights",
      isPageHeading: false
    }
  },
  items: [
    {
      value: "System admin",
      text: "System admin",
      hint: {
        html: "Add a group of services, used by a specific part of DWP<br>Invite group admins<br>Add a set of users who do not work for DWP, such as a supplier or a local authority<br>Add a service<br>Invite service admins"
      },
      checked: checked("['user-access-rights']", "System admin")
    },
    {
      value: "Service admin",
      text: "Service admin",
      hint: {
        html: "Admin for one service<br>Invite users to their service"
      },
      checked: checked("['user-access-rights']", "Service admin")
    },
    {
      value: "Organisation admin",
      text: "Organisation admin",
      hint: {
        html: "Invite users who work for their organisation to use this service"
      },
      checked: checked("['operator-admin-access-rights']", "Organisation admin")
    },
    {
      value: "User",
      text: "User",
      hint: {
        text: "Can access a service"
      },
      checked: checked("['user-access-rights']", "User")
    }
  ]
}) }}
