{{ govukRadios({
  idPrefix: "user-access-rights",
  name: "user-access-rights",
  fieldset: {
    legend: {
      text: "Access rights",
      isPageHeading: false
    }
  },
  items: [
    {
      value: "Partner Organisation Admin",
      text: "Partner Organisation Admin",
      hint: {
        html: "Admin for a set of users who do not work for DWP, such as a supplier or local authority<br>Invite users who don’t work for DWP to their service"
      },
      checked: checked("['operator-admin-access-rights']", "Partner Organisation Admin")
    },
    {
      value: "User",
      text: "User",
      hint: {
        text: "Can access the service"
      },
      checked: checked("['user-access-rights']", "User")
    }
  ]
}) }}
