{{ govukRadios({
  idPrefix: "user-access-rights",
  name: "user-access-rights",
  fieldset: {
    legend: {
      text: "Access rights",
      isPageHeading: false
    }
  },
  items: [
    {
      value: "System admin",
      text: "System admin",
      hint: {
        html: "Add a service<br>Invite service admins<br>Add a non-DWP organisation, such as a supplier or a local authority, so they can use a service"
      },
      checked: checked("['user-access-rights']", "System admin")
    },
    {
      value: "Service admin",
      text: "Service admin",
      hint: {
        html: "Admin for one service<br>Invite users to their service"
      },
      checked: checked("['user-access-rights']", "Service admin")
    },
    {
      value: "Non-DWP organisation admin",
      text: "Non-DWP organisation admin",
      hint: {
        html: "Invite users from a non-DWP organisation to use a service"
      },
      checked: checked("['operator-admin-access-rights']", "Non-DWP organisation admin")
    },
    {
      value: "User",
      text: "User",
      hint: {
        text: "Can access a service"
      },
      checked: checked("['user-access-rights']", "User")
    }
  ]
}) }}
