{% extends "layout.html" %}

{% block pageTitle %}
    Users - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}


{% block content %}
    <h1 class="govuk-heading-l listing-page">Users</h1>

    <a href="../add/start" class="govuk-button listing-page">Add a user</a>

    {% include "./includes/sorting-filtering.html" %}

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name <span class="govuk-sorted-by">(Currently sorted by name, a-z)</span></th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Organisation</th>
                <th scope="col" class="govuk-table__header">Status</th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="single" class="govuk-link">Peter Lorimer</a></th>
                <td class="govuk-table__cell">Serco</td>
                <td class="govuk-table__cell">Active</td>
            </tr>

            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="single" class="govuk-link">Peter Ridsdale</a></th>
                <td class="govuk-table__cell">London Borough of Croydon Council</td>
                <td class="govuk-table__cell">Access expired</td>
            </tr>

            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="single" class="govuk-link">Phil Masinga</a></th>
                <td class="govuk-table__cell">Remploy</td>
                <td class="govuk-table__cell ">Active</td>
            </tr>

            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="single" class="govuk-link">Rex Hunt</a></th>
                <td class="govuk-table__cell">G4S</td>
                <td class="govuk-table__cell">Invite sent</td>
            </tr>

            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="single" class="govuk-link">Robert Church</a></th>
                <td class="govuk-table__cell">G4S</td>
                <td class="govuk-table__cell ">Active</td>
            </tr>

            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="single" class="govuk-link">Robson Green</a></th>
                <td class="govuk-table__cell">G4S</td>
                <td class="govuk-table__cell">Active</td>
            </tr>

            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="single" class="govuk-link">Robert Molenaar</a></th>
                <td class="govuk-table__cell">Remploy</td>
                <td class="govuk-table__cell">Active</td>
            </tr>

            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="single" class="govuk-link">Rod Wallace</a></th>
                <td class="govuk-table__cell">Capita</td>
                <td class="govuk-table__cell">Active</td>
            </tr>

            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="single" class="govuk-link">Sam Bolton</a></th>
                <td class="govuk-table__cell">London Borough of Croydon Council</td>
                <td class="govuk-table__cell">Active</td>
            </tr>

            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="single" class="govuk-link">Steve Hodge</a></th>
                <td class="govuk-table__cell">Capita</td>
                <td class="govuk-table__cell ">Active</td>
            </tr>
        </tbody>
    </table>

    <nav role="navigation" aria-label="Pagination">
        <div class="pagination__summary">
            Showing 61 &ndash; 70 of 74 users
        </div>

        <ul class="pagination">
            <li class="pagination__item">
                <a class="pagination__link" href="all-6" aria-label="Previous page">
                    <span aria-hidden="true" role="presentation">&laquo;</span> Previous
                </a>
            </li>

            <li class="pagination__item">
                <a class="pagination__link" href="all" aria-label="Page 1">1</a>
            </li>

            <li class="pagination__item">
                <a class="pagination__link"  href="all-2" aria-label="Page 2">2</a>
            </li>

            <li class="pagination__item">
                <a class="pagination__link" href="all-3" aria-label="Page 3">3</a>
            </li>

            <li class="pagination__item">
                <a class="pagination__link"  href="all-4" aria-label="Page 4">4</a>
            </li>

            <li class="pagination__item">
                <a class="pagination__link" href="all-5" aria-label="Page 5">5</a>
            </li>

            <li class="pagination__item">
                <a class="pagination__link" href="all-6" aria-label="Page 6">6</a>
            </li>

            <li class="pagination__item">
                <span class="pagination__link current" href="#" aria-label="Page 7">7</span>
            </li>

            <li class="pagination__item">
                <a class="pagination__link" href="all-8" aria-label="Page 8">8</a>
            </li>

            <li class="pagination__item">
                <a class="pagination__link" href="all-8" aria-label="Next page">
                    Next <span aria-hidden="true" role="presentation">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <p class="govuk-!-margin-top-9">
        <a href="../../dashboard" class="govuk-link">Back to dashboard</a>
    </p>
{% endblock %}
