{{ govukRadios({
  idPrefix: "organisation-admin-access-rights",
  name: "organisation-admin-access-rights",
  fieldset: {
    legend: {
      text: "Access rights",
      isPageHeading: false
    }
  },
  items: [
    {
      value: "Service Admin",
      text: "Service Admin",
      hint: {
        html: "Admin for one service<br>Invite users to their service<br>{third party?}"
      },
      checked: checked("['organisation-admin-access-rights']", "Service Admin")
    },
    {
      value: "User",
      text: "User",
      hint: {
        text: "Can access the service"
      },
      checked: checked("['organisation-admin-access-rights']", "User")
    }
  ]
}) }}
