<details class="govuk-details govuk-!-margin-top-9">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Other dev-ready versions
        </span>
    </summary>

    <div class="govuk-details__text">
        <time datetime="2019-11-28" class="govuk-caption-m">28 November 2019</time>

        <h2 class="govuk-heading-l">Dev-ready v1</h2>

        <a href="/dev1/signin" class="govuk-button govuk-!-margin-right-1">View prototype</a>
        <a href="/dev1/dashboard-service-prap-no-orgs" class="govuk-button">View 'no organisations' dashboard</a>

        <h3 class="govuk-heading-s">General changes</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>

                Removed 'Last logged in' from user details due to current technical challenges
            </li>

            <li>
                Removed 'Suspend the user' from user details
            </li>

            <li>
                Added in research prototype version of 'choose user organisation' - accepted on the basis it may change after future user research
            </li>

            <li>
                Changed 'Full name' input to 'First name, Last name' due to concerns around data storage
            </li>

            <li>
                Added <a href="/dev1/error/service" class="govuk-link">service error</a> page
            </li>
        </ul>
    </div>
</details>
