

 <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">
                        <button type="button" class="sort-header-toggle sorted-descending" onclick="window.location.href='sorted/all-by-name-reverse'">
                            Name
                        </button>
                    </th>
                    <th scope="col" class="govuk-table__header">
                        <button type="button" class="sort-header-toggle" onclick="window.location.href='sorted/all-by-org'">
                            Organisation
                        </button>
                    </th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
                        <button type="button" class="sort-header-toggle" onclick="window.location.href='sorted/all-by-status'">
                            Status
                        </button>
                    </th>
                </tr>
            </thead>
