{% extends "layout.html" %}

{% block pageTitle %}
    Sign up - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{serviceName}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check your authenticator app</h1>
            <p>Enter the code for DWP Authenticate.</p>
     
            <div class="govuk-form-group govuk-!-margin-top-6">
                <label class="govuk-label" for="width-20">
                        Code in app
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
                  
            {{ govukButton({
                text: "Continue",
                href: "backup-app-branch.html"
            }) }}

            <p>If you’d rather sign in using a text message, you’ll have to <a href="enter-mobile">start again</a>.</p>
  </div>
{% endblock %}
