{% extends "layout.html" %}

{% block pageTitle %}
    Authenticator app backup - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{serviceName}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Would you like to use an app as a backup login?</h1>
            <p>You'll need a smartphone to do this.</p>
            <p>An app doesn’t require phone signal to work. This might be useful if your office has poor phone signal.</p>
     
            <form id="form" method="post" action="app">
              {{ govukRadios({
                idPrefix: "app-backup",
                name: "app-backup",
                fieldset: {
                  legend: {
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "app-backup-yes",
                    text: "Yes, I’ll use an app as a backup"
                  },
                  {
                    value: "app-backup-no",
                    text: "No, I’ll just use text messages"
                  }
                ]
              }) }}

              <input type="submit" class="govuk-button govuk-!-margin-right-1" value="Continue" id="submit">
            </form>

  </div>
{% endblock %}
