{% extends "layout.html" %}

{% block pageTitle %}
    Sign up - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{serviceName}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">We’ve sent you a text message</h1>
            <p>It contains a code and should arrive in a few minutes.</p>
            <p>We sent it to a number ending 1234.</p>
      
            {{ govukDetails({
                summaryText: "This isn't the right phone number",
                text: "To enter a new number, you'll have to click the link in your invitation email to sign up again."
            }) }}
     
            <div class="govuk-form-group govuk-!-margin-top-6">
                <label class="govuk-label" for="width-20">
                        Code in text message
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
                  
            {{ govukButton({
                text: "Continue",
                href: "backup-app-branch.html"
            }) }}

            <p><a href="resend-code">I didn't receive a text message</a></p>
  </div>
{% endblock %}
