{% extends "layout.html" %}

{% block pageTitle %}
  Registration complete - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{serviceName}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
            titleText: "Registration complete",
            html: data['prototype-service']
        }) }}

        <p>You'll be able to access this service soon. We'll send you an email when you can.</p>

        <h2 class="govuk-heading-m govuk-!-margin-top-6">Your sign-in details</h2>
        <p>You'll sign in using b2ctest77@gmail.com</p>

        <h2 class="govuk-heading-m">Contact us</h2>

        {% if data['prototype-service'] == 'PRaP' %}
        <ul class="govuk-list">
            <li><strong>PRaP Operational Support Team</strong></li>
            <li>Available: Monday to Friday, 9:00am to 4:00pm</li>
            <li>Telephone: 0345 604 5406</li>
            <li>Email: prap.support@dwp.gsi.gov.uk</li>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
