{% extends "layout.html" %}

{% block pageTitle %}
    Register - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{serviceName}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Register with DWP Authenticate</h1>
      <p>Registering your account with DWP Authenticate will let you access the Provider Referrals and Payments system service.</p>

      {{ govukButton({
        text: "Start registration",
        href: "create-new-password.html",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Before you start</h2> 

      <p>You'll need your mobile phone</p>  
      <p>After you have registered, we will send you a code to your mobile whenever you want to sign in. This makes 
        the service more secure by proving it is you signing in. </p>
     
    </div>
  </div>
{% endblock %}
