// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

body * {
    font-family: 'Helvetica Neue', Helvetica, Arial, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif !important;
}

.govuk-header__nav {
  float: right;
}

.govuk-header__nav .govuk-header__nav-link {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  display: inline-block;
  line-height: 30px;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/**
 * 'Global' navigation styles taken from: https://dwp-design-examples.herokuapp.com/example/navigation-global
 */
.navigation-global ul:after {
  content: "";
  display: block;
  clear: both;
}

.navigation-global {
  background: #dee0e2;
  margin-top: -10px;
  position: relative;
  z-index: 2;
}

.navigation-global ul {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 0;
  padding-right: 0;
}

.navigation-global li {
  float: left;
  list-style-type: none;
}

@media (max-width: 640px) {
  .navigation-global li {
    width: 100%;
  }
}

.navigation-global a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.navigation-global a:link,
.navigation-global a:visited {
  color: #0b0c0c;
}

.navigation-global a:active,
.navigation-global a:focus {
  background: #ffbf47;
  color: #0b0c0c;
}

.navigation-global a:hover {
  background: #f8f8f8;
  text-decoration: underline;
}

.navigation-global .active {
  background: #005ea5;
  border-bottom: 0;
  font-weight: 700;
}

.navigation-global .active:link,
.navigation-global .active:visited,
.navigation-global .active:active {
  color: #fff;
}

.navigation-global .active:focus {
  color: #0b0c0c;
}

.navigation-global .active:hover {
  background: #005ea5;
  color: #fff;
  text-decoration: underline;
}

/**
 * pagination from: https://home-office-digital-patterns.herokuapp.com/components/pagination
 */
.pagination {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.pagination__item {
  display: inline-block;
  list-style: none;
}

.pagination__link {
    display: block;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #005EA5;
    display: inline-block;
    margin-right: 15px;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:hover,
    &:focus {
        background: #F8F8F8;
        outline: 3px solid #FFBF47;
    }

    &.current {
        font-weight: 700;
    }

    &.current,
    &.disabled {
        color: #0B0C0C;
        border: none;
        pointer-events: none;
        cursor: default;
        font-family: $govuk-font-family;
    }
}

a.pagination__link:hover,
a.pagination__link:focus {
  background: #F8F8F8;
  outline: 3px solid #FFBF47;
}

.pagination__summary {
  font-family: $govuk-font-family;
  line-height: 30px;

  @media (min-width: 642px) {
    float: right;
  }
}

/**
 * Tags for confidence states
 */
 .govuk-tag--high {
    background-color: #006435;
 }

 .govuk-tag--medium {
    background-color: #ffbf47;
    color: #0b0c0c;
 }

 .govuk-tag--low {
    background-color: #b10e1e;
 }

/**
 * Dashboard cards
 */

.govuk-cards__item {
    box-sizing: border-box;

    @include govuk-media-query($until: tablet) {
        margin-bottom: 20px;
    }

    @include govuk-media-query($from: tablet) {
        float: left;
        margin-bottom: 40px;
    }

    @include govuk-media-query($from: desktop) {
        width: 33.333333%;

        &:not(:nth-child(3n+3)) {
            padding-right: 20px;
        }
    }

    @include govuk-media-query($from: tablet, $until: desktop) {
        width: 50%;

        &:not(:nth-child(2n+2)) {
            padding-right: 15px;
        }
    }
}

/**
 * V2 cards with background colour
 */
.govuk-cards::after,
.govuk-cards--2::after,
.govuk-cards--3::after {
    content: '';
    display: block;
    clear: both;
}

.govuk-cards--2__item {
    box-sizing: border-box;
    border: 1px solid #b1b4b6;
    background-color: #f3f2f1;
    padding: 20px;
    margin-bottom: 20px;
    float: left;

    :last-child {
        margin-bottom: 0;
    }

    @include govuk-media-query($from: desktop) {
        width: calc(33% - 11px);
        min-height: 220px;

        &.govuk-card--company {
            width: calc(66.8% - 10px);
        }

        &:not(:nth-child(3n+3)) {
            margin-right: 20px;
        }

        .govuk-cards--3 &.govuk-card--contacts {
            margin-right: 0;
        }
    }

    @include govuk-media-query($from: tablet, $until: desktop) {
        width: calc(50% - 8px);
        min-height: 220px;

        &.govuk-card--company {
            width: calc(66% - 8px);
        }

        &:not(:nth-child(2n+2)) {
            margin-right: 15px;
        }

        .govuk-cards--3 &.govuk-card--contacts {
            margin-right: 0;
        }
    }

    @include govuk-media-query($until: tablet) {
        width: 100%;

        &.govuk-card--company {
            width: 100%;
        }
    }
}

/**
 * Organisation view large contact card styles
 */
.govuk-card--company,
.govuk-card--contacts {
    border: 1px solid #b1b4b6;
    background-color: #fff;
    margin-bottom: 20px;
    box-sizing: border-box;

    &::after {
        content: '';
        clear: both;
        display: table;
    }

    :last-child {
        margin-bottom: 0;
    }

    :first-child {
        margin-top: 0;
    }

    @include govuk-media-query($from: desktop) {
        min-height: 310px;
    }

    @include govuk-media-query($from: tablet, $until: desktop) {
        min-height: 310px;
    }
}

.govuk-card--contacts {
    margin-right: 0;
}

/**
 * User type tag colours
 */
.govuk-tag--l1 {
    background-color: govuk-colour('pink');
}

.govuk-tag--l2 {
    background-color: govuk-colour('orange');
}

.govuk-tag--l3 {
    background-color: govuk-colour('turquoise');
}

.govuk-tag--pending {
    background-color: govuk-colour("yellow");
    color: #000;
}

.govuk-tag--inactive {
    background-color: govuk-colour("dark-grey");
}

/**
 * Autocomplete stuff
 */
.autocomplete__wrapper {
    width: 50%;
}

.autocomplete__option {
    font-family: "GDS Transport", Arial, sans-serif;
}

/**
 * Fix the big margin between details components when inside list items
 * Fix the awkward height of an individual list item when in a list with details
 * elements
 */
.govuk-list.signin li .govuk-details {
    margin-bottom: 0;
}

.govuk-list.signin li {
    min-height: 30px;
}

.govuk-link:visited, a:visited {
  color:#1d70b8;
}

/**
 * Megasearch
*/
.govuk-megasearch {
    position: relative;
}

.govuk-megasearch__results {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    right: 40px;
    padding: 10px;
    background-color: #fff;
    border-width: 0 2px 2px;
    border-style: solid;
    border-color: #000;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: .25s opacity ease, .25s z-index ease;

    &.is_active {
        z-index: 1;
        opacity: 1;
    }
}

.govuk-input--search {
    padding-right: 44px;
}

.govuk-button--search {
    height: 36px;
    width: 40px;
    line-height: 36px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    padding: 0;
    margin: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 2px solid #000;
    color: #fff;
    text-align: center;
    background-color: govuk-colour("green");
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #005a30;
    }
}

.govuk-megasearch__title {
    margin-bottom: 10px;
    padding-top: 0;
}

.govuk-body + .govuk-megasearch__title {
     border-top: 1px solid $govuk-border-colour;
}

.govuk-megasearch__list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

.govuk-megasearch__item:not(:last-of-type) {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid govuk-colour("light-grey") ;
}

.govuk-megasearch__item {
    min-height: 30px;
}

.govuk-megasearch__item .govuk-link {
    float: right;
}

.govuk-megasearch__result,
.govuk-megasearch__identifier,
.govuk-megasearch__item .govuk-link {
    line-height: 30px;
    min-height: 30px;
}

.govuk-megasearch__result {
    float: left;
    font-weight: bold;
    display: block;
    font-family: $govuk-font-family;
}

.govuk-megasearch__identifier {
    padding-left: 15px;
    font-weight: normal;
    color: govuk-colour("mid-grey");
}

.govuk-megasearch__all-results {
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid $govuk-border-colour;
}

.govuk-megasearch__all-results:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-top: 1px solid $govuk-border-colour;
    padding-top: 10px;
    margin-top: 0;
}

.dirty-height-hack {
    min-height: 70vh;
}

/**
 * Filters and sorting
 */
.govuk-filters-button,
.govuk-filter-reset {
    clear: both;
    float: left;
    margin-bottom: 0;
}

p.govuk-filter-reset {
    display: block;
    margin-top: 20px;
}

.govuk-sort-filter .is_hidden {
    display: none;
}

.govuk-sorted-by {
    text-indent: 115%;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    height: 0;
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid $govuk-link-colour;
    vertical-align: middle;
    margin-left: 12px;
    margin-top: -2px;
}

.govuk-sorted-by--reverse {
    border-top: 0;
    border-bottom: 8px solid $govuk-link-colour;
}

.govuk-sorted-by--unsorted {
    border: 0;
}

/**
 * In some places we've used a button that needs to look like a link purely
 * because of how the prototype kit passes data around. Sorreh!
 */
 button.govuk-link {
     border: 0;
     padding: 0;
     margin: 0;
     font-family: $govuk-font-family;
     cursor: pointer;
     background-color: transparent;
     color: $govuk-link-colour;
     text-decoration: underline;
 }

/**
 * remove buttons in add service journey
 */
.remove-button {
    float: right;
    margin-bottom: 0;
}

.contains-remove-button {
    width: 75%;
}

/**
 * Table sorting header styles for plugin
 */
.govuk-table.sort th,
.govuk-table__header[aria-sort="descending"],
.govuk-table__header[aria-sort="ascending"] {
    color: $govuk-link-colour;
    text-decoration: underline;
    position: relative;
}

.sort .govuk-table__header {
    cursor: pointer;
}

.govuk-table__header[aria-sort="descending"]::after,
.govuk-table__header[aria-sort="ascending"]::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    vertical-align: middle;
    margin-left: 6px;
}

.govuk-table__header[aria-sort="descending"]::after {
    border-bottom: 8px solid $govuk-link-colour;
}

.govuk-table__header[aria-sort="ascending"]::after {
    border-top: 8px solid $govuk-link-colour;
}

/**
 * user search box
 */
.user-search-box .govuk-form-group {
    margin-left: 20px;
    margin-bottom: 10px;
}

.user-search-box {
    position: relative;
}

.user-search-box .govuk-input {
    padding-right: 45px;
    width: 100%;
}

.user-search-box .search-button,
.user-search-box .search-button:active {
    position: absolute;
    bottom: 2px;
    right: 2px;
    border-width: 0 0 0 2px;
    border-style: solid;
    border-left-color: #000;
    box-sizing: border-box;
    margin-bottom: 0;
    cursor: pointer;
    border-radius: 0;
    padding: 0;
    width: 38px;
    height: 36px;
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-position: 2px 50%;
    text-indent: 115%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #1d70b8;
    box-shadow: none;

    &:hover,
    &:focus {
        background-color: $govuk-link-hover-colour;
    }
}

.filter-block {
    padding-top: 30px;
    border-top: 1px solid #b1b4b6;
    margin: 10px 0 0;
}

/** React app sort table headers */
.sort-header-toggle {
    color: $govuk-link-colour;
    text-decoration: underline;
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    padding: 0 30px 0 0;
    margin: 0;
    border: 0;
    background: transparent;
}

.sort-header-toggle--full {
    width: 100%;
    text-align: right;
}

.sort-header-toggle:not(.sorted-ascending)::after,
.sort-header-toggle:not(.sorted-ascending)::before,
.sort-header-toggle:not(.sorted-descending)::after,
.sort-header-toggle:not(.sorted-descending)::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    vertical-align: middle;
    margin-left: 6px;
    position: absolute;
    right: 0;
}

.sort-header-toggle:not(.sorted-ascending):not(.sorted-descending)::after {
    border-top: 8px solid $govuk-link-colour;
    bottom: 2px;
}

.sort-header-toggle:not(.sorted-ascending):not(.sorted-descending)::before {
    border-bottom: 8px solid $govuk-link-colour;
    top: 2px;
}

.sort-header-toggle.sorted-ascending::after,
.sort-header-toggle.sorted-descending::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    vertical-align: middle;
    margin-left: 6px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 0;
}

.sort-header-toggle.sorted-ascending::after {
    border-bottom: 8px solid $govuk-link-colour;
}

.sort-header-toggle.sorted-descending::after {
    border-top: 8px solid $govuk-link-colour;
}
