// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

.govuk-header__nav {
  float: right;
}

.govuk-header__nav .govuk-header__nav-link {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  display: inline-block;
  line-height: 30px;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/**
 * 'Global' navigation styles taken from: https://dwp-design-examples.herokuapp.com/example/navigation-global
 */
.navigation-global ul:after {
  content: "";
  display: block;
  clear: both;
}

.navigation-global {
  background: #dee0e2;
  margin-top: -10px;
  position: relative;
  z-index: 2;
}

.navigation-global ul {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 0;
  padding-right: 0;
}

.navigation-global li {
  float: left;
  list-style-type: none;
}

@media (max-width: 640px) {
  .navigation-global li {
    width: 100%;
  }
}

.navigation-global a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.navigation-global a:link,
.navigation-global a:visited {
  color: #0b0c0c;
}

.navigation-global a:active,
.navigation-global a:focus {
  background: #ffbf47;
  color: #0b0c0c;
}

.navigation-global a:hover {
  background: #f8f8f8;
  text-decoration: underline;
}

.navigation-global .active {
  background: #005ea5;
  border-bottom: 0;
  font-weight: 700;
}

.navigation-global .active:link,
.navigation-global .active:visited,
.navigation-global .active:active {
  color: #fff;
}

.navigation-global .active:focus {
  color: #0b0c0c;
}

.navigation-global .active:hover {
  background: #005ea5;
  color: #fff;
  text-decoration: underline;
}

/**
 * pagination from: https://home-office-digital-patterns.herokuapp.com/components/pagination
 */
.pagination .pagination_list-items {
  li {
    display: inline-block;

    a {
      color: #005EA5;
      display: inline-block;
      padding: 15px 5px 10px 5px;
      margin-right: 15px;
      text-decoration: none;

      &:focus {
        outline: 0;
      }
    }

    &.active a,
    &.active a:hover {
      color: #005EA5;
      box-shadow: inset 0px -5px 0px 0px #005EA5;
    }
  }
}

.pagination {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.pagination__item {
  display: inline-block;
  list-style: none;
}

.pagination__link {
  display: block;
  padding: 5px 10px;
  text-decoration: none;

  &.current {
    font-weight: 700;
  }

  &.current,
  &.disabled {
    color: #0B0C0C;
    border: none;
    pointer-events: none;
    cursor: default;
    font-family: $govuk-font-family;
  }
}

a.pagination__link:hover,
a.pagination__link:focus {
  background: #F8F8F8;
  outline: 3px solid #FFBF47;
}

.pagination__summary {
  font-family: $govuk-font-family;
  line-height: 30px;

  @media (min-width: 642px) {
    float: right;
  }
}

/**
 * Tags for confidence states
 */
 .govuk-tag--high {
    background-color: #006435;
 }

 .govuk-tag--medium {
    background-color: #ffbf47;
    color: #0b0c0c;
 }

 .govuk-tag--low {
    background-color: #b10e1e;
 }

/**
 * Dashbaord cards
 */

.govuk-cards__item {
    box-sizing: border-box;

    @include govuk-media-query($until: tablet) {
      margin-bottom: 20px;
    }

    @include govuk-media-query($from: tablet) {
      float: left;
      margin-bottom: 40px;
    }

    @include govuk-media-query($from: desktop) {
    width: 33.333333%;

      &:not(:nth-child(3n+3)) {
        padding-right: 20px;
      }
    }

    @include govuk-media-query($from: tablet, $until: desktop) {
        width: 50%;

      &:not(:nth-child(2n+2)) {
        padding-right: 15px;
      }
    }
}

/**
 * V2 cards with background colour
 */
.govuk-cards--2 {
    display: flex;
    flex-wrap: wrap;
}

.govuk-cards::after {
  content: '';
  display: block;
  clear: both;
}

.govuk-cards--2__item {
  box-sizing: border-box;
  border: 1px solid rgb(200, 200, 200);
  background-color: rgb(248, 248, 248);
  padding: 20px;
  margin-bottom: 20px;

  :last-child {
      margin-bottom: 0;
  }

  @include govuk-media-query($from: desktop) {
    flex: 0 1 calc(33.333333% - 14px);

    &:not(:nth-child(3n+3)) {
      margin-right: 20px;
    }
  }

  @include govuk-media-query($from: tablet, $until: desktop) {
    flex: 0 1 calc(50% - 8px);

    &:not(:nth-child(2n+2)) {
      margin-right: 15px;
    }
  }

  @include govuk-media-query($until: tablet) {
    flex: 1 0 100%;
  }
}

/**
 * Main positioning and styles for 'add' buttons on listing pages (v2)
 */
.govuk-heading-l.listing-page {
    float: left;
}

.govuk-button.listing-page {
    float: right;
}
