// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

.govuk-header__nav {
  float: right;
}

.govuk-header__nav .govuk-header__nav-link {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  display: inline-block;
  line-height: 30px;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.govuk-cards::after {
  content: '';
  display: block;
  clear: both;
}

.govuk-cards__item {
  box-sizing: border-box;

  @include govuk-media-query($until: tablet) {
    margin-bottom: 20px;
  }

  @include govuk-media-query($from: tablet) {
    float: left;
    margin-bottom: 40px;
  }

  @include govuk-media-query($from: desktop) {
    width: 33.333333%;

    &:not(:nth-child(3n+3)) {
      padding-right: 20px;
    }
  }

  @include govuk-media-query($from: tablet, $until: desktop) {
    width: 50%;

    &:not(:nth-child(2n+2)) {
      padding-right: 15px;
    }
  }
}
