{% extends "layout.html" %}

{% block pageTitle %}
    Add your service - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{serviceName}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Add your service to DWP Authenticate</h1>
            <p>Use DWP Authenticate to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>invite people to use your service</li>
                <li>manage their access to your service</li>
            </ul>

            <p>Once invited, they must use multi-factor authentication to register and sign in to your service. They can do this on a mobile device with SMS or an authenticator app. </p>

            {{ govukButton({
                text: "Add your service",
                href: "details.html",
                isStartButton: true
            }) }}

            <h2 class="govuk-heading-m govuk-!-margin-top-6">Before you start</h2>

            <p>You will need:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>a person we can talk to if we need information about your service</li>
                <li>support that is available to people who use your service, including contact details and what days and times it is available</li>
                <li>your service’s staging, environment and productions URLs</li>
                <li>who the admins will be for your service - these will be people who invite people to use your service through DWP Authenticate and manage their access</li>

            </ul>
        </div>
    </div>
{% endblock %}
