{% extends "layout.html" %}

{% block pageTitle %}
    Service users - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{serviceName}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="custom-data" method="post" class="form">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Add your service</span>
                        Your service’s users
                    </legend>

                    {{ govukCheckboxes({
                        idPrefix: "service-users",
                        name: "service-users",
                        fieldset: {
                            legend: {
                                text: "Who are your users employed by?",
                                classes: "govuk-fieldset__legend--m"
                            }
                        },
                        hint: {
                            text: "Select all that apply."
                        },
                        items: [
                            {
                                value: "DWP",
                                text: "Internal DWP"
                            },
                            {
                                value: "Other government departments",
                                text: "Other government departments"
                            },
                            {
                                value: "Local authorities",
                                text: "Local authorities"
                            },
                            {
                                value: "Third party companies, such as suppliers",
                                text: "Third party companies, such as suppliers"
                            }
                        ]
                    }) }}

                    {{ govukRadios({
                        idPrefix: "number-of-users",
                        name: "number-of-users",
                        fieldset: {
                            legend: {
                                text: "How many users do you expect your service to have?",
                                classes: "govuk-fieldset__legend--m"
                            }
                        },
                        items: [
                            {
                                value: "1 to 50",
                                text: "1 to 50"
                            },
                            {
                                value: "51 to 100",
                                text: "51 to 100"
                            },
                            {
                                value: "101 to 200",
                                text: "101 to 200"
                            },
                            {
                                value: "More than 200",
                                text: "More than 200"
                            }
                        ]
                    }) }}


                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
