{% extends "layout.html" %}

{% block pageTitle %}
    Support details - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{serviceName}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

                <form action="technical-details" method="post" class="form">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            Support details
                        </legend>

                        {{ govukDetails({
                            summaryText: "Help with support details",
                            text: "Support details for your service are required to add your service to Authenticate."
                          }) }}

                        {{ govukInput({
                            label: {
                                text: "Email address"
                            },
                            id: "support-email",
                            name: "support-email",
                            classes: "govuk-!-width-three-quarters"
                        }) }}

                        {{ govukInput({
                            label: {
                                text: "Telephone number"
                            },
                            id: "support-phone-number",
                            name: "support-phone-number",
                            classes: "govuk-!-width-three-quarters"
                        }) }}

                        <h2 class="govuk-heading-s">Support team location</h2>

                        {{ govukInput({
                            label: {
                              html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
                            },
                            id: "support-address-line-1",
                            name: "support-address-line-1",
                            autocomplete: "address-line1",
                            classes: "govuk-!-width-three-quarters"
                          }) }}
                        
                          {{ govukInput({
                            label: {
                              html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
                            },
                            id: "support-address-line-2",
                            name: "support-address-line-2",
                            autocomplete: "address-line2",
                            classes: "govuk-!-width-three-quarters"
                          }) }}
                        
                          {{ govukInput({
                            label: {
                              text: "Town or city"
                            },
                            classes: "govuk-!-width-three-quarters",
                            id: "support-address-town",
                            name: "support-address-town",
                            autocomplete: "address-level2"
                          }) }}
                        
                          {{ govukInput({
                            label: {
                              text: "Postcode"
                            },
                            classes: "govuk-input--width-10",
                            id: "support-address-postcode",
                            name: "support-address-postcode",
                            autocomplete: "postal-code"
                          }) }}

                          {{ govukTextarea({
                            classes: "govuk-!-width-three-quarters",
                            name: "support-opening-hours",
                            id: "support-opening-hours",
                            label: {
                              text: "Opening hours"
                            },
                            hint: {
                              text: "For example, Monday to Friday, 9am to 5pm"
                            }
                          }) }}       
    
                        
                          

    
                        {{ govukButton({
                            text: "Continue"
                        }) }}

                        <p><a href="#">I'll add these later</a></p>
                    </fieldset>
                </form>
            </div>
        </div>

{% endblock %}
