{% extends "layout.html" %}

{% block pageTitle %}
    Add new user - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% set errorSummaryMessage %}
                Organisation not found. Check its name has been entered correctly, view all organisations or add an organisation.
            {% endset %}

            {% if data['org-error'] %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: [
                        {
                            text: errorSummaryMessage,
                            href: "#organisation-name-existing"
                        }
                    ]
                }) }}
            {% endif %}

            <form action="org-check" method="post" class="form">
                <fieldset class="govuk-fieldset"{% if data['org-error'] %} aria-describedby="organisation-error-message"{% endif %}>
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add a user</span>Which organisations does the user belong to?
                        </h1>
                    </legend>
                    <p class="govuk-hint govuk-!-margin-bottom-6">You can add more than one organisation if you need to.</p>

                    <div class="govuk-form-group{% if data['org-error'] %} govuk-form-group--error{% endif %}">
                        {% if data['org-error'] %}
                        <span id="organisation-error-message" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> {{ errorSummaryMessage }}
                        </span>
                        {% endif %}

                        <label class="govuk-label govuk-visually-hidden" for="organisation-name">
                            Organisation
                        </label>

                        <h2 class="govuk-heading-s contains-remove-button">
                            Organisation
                            
                        </h2>

                        <select class="govuk-select form-control" name="organisation-name-existing" id="organisation-name-existing">
                            <option value="" selected>Choose an organisation</option>
                            <option value="Capita">Capita</option>
                            <option value="Serco">Serco</option>
                            <option value="Remploy">Remploy</option>
                            <option value="G4S">G4S</option>
                            <option value="London Borough of Croydon Council">London Borough of Croydon Council</option>
                            <option value="{{ data['organisation-name'] }}">{{ data['organisation-name'] }}</option>
                        </select>
                    </div>

                    {{ govukButton({
                    text: "Add another",
                    classes: "govuk-button--secondary"
                    }) }}
                </fieldset>
            </form>

                <div class="govuk-!-margin-top-9">
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </div>

            <!--
            <ul class="govuk-list govuk-!-margin-top-6">
                <li>
                    <a href="../../orgs/add/start" class="govuk-link">Add an organisation</a> 
                </li>
                <li>
                    <a href="../../orgs/view/all" class="govuk-link">View all organisations</a>
                </li>
            </ul>
            -->
        </div>
    </div>
{% endblock %}

{% block pageScripts %}
    <link rel="stylesheet" href="/public/javascripts/accessible-autocomplete.min.css">
    <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
    <script type="text/javascript">
        accessibleAutocomplete.enhanceSelectElement({
            defaultValue: '',
            selectElement: document.getElementById('organisation-name-existing'),
            minLength: 3,
            tNoResults: function() { return 'No organisations found.'; }
        });
    </script>
{% endblock %}
