{% extends "layout.html" %}

{% block pageTitle %}
  Organisation added - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
            titleText: "Organisation added",
            html: data["organisation-name"]
        }) }}

        {% if data['contact-1-first-name'] and data['contact-2-first-name'] and data['address-line-1'] %}
        <p>
            <a href="../../users/add/start" class="govuk-link">
                Add a user to {{ data['organisation-name'] }}
            </a>
        </p>
        {% endif %}

        <p>
            <a href="../../dashboard" class="govuk-link">
                Back to dashboard
            </a>
        </p>
    </div>
</div>
{% endblock %}
