{% extends "layout.html" %}

{% block pageTitle %}
    Check organisation details - {{siteName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Add a user</span>
            <h1 class="govuk-heading-l">We need more information about {{ data['organisation-name-custom'] }} before you can add users</h1>

            <p>We need:</p>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                {% if not data['contact-1-first-name'] and not data['contact-2-first-name'] %}
                    <li>details of 2 contacts who work for {{ data['organisation-name-custom'] }}</li>
                {% endif %}

                {% if data['contact-1-first-name'] and not data['contact-2-first-name'] %}
                    <li>details of a second contact who works for {{ data['organisation-name-custom'] }}</li>
                {% endif %}

                {% if not data['address-line-1'] %}
                    <li>{{ data['organisation-name-custom'] }}’s address</li>
                {% endif %}
            </ul>

            <form action="details-branch" method="post" novalidate>
                {{ govukRadios({
                    idPrefix: "org-complete-details",
                    name: "org-complete-details",
                    fieldset: {
                        legend: {
                            text: "Do you want to complete these details now?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes"
                        },
                        {
                            value: "no",
                            text: "No, go back to dashboard"
                        }
                    ]
                }) }}

                {% include './includes/contacts-and-address.html' %}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
