{% extends "layout.html" %}

{% block pageTitle %}
    Mobile phone number - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{serviceName}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Enter your mobile phone number</h1>
            <p>You cannot use a landline number. This is because landlines are often used be used by
                many people, so they are not as secure as mobiles.</p>


            <div class="govuk-form-group govuk-!-margin-top-6">
                <label class="govuk-label" for="width-20">
                    Mobile phone number
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>

            {{ govukButton({
                text: "Send code",
                href: "code.html"
            }) }}
  </div>
{% endblock %}
