{% extends "layout.html" %}

{% block pageTitle %}
  Registration complete - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{serviceName}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Registration complete",
                html: data['prototype-service']
            }) }}

            <p>You will be able to access this service soon. We will send you an email when you have access.</p>

            <h2 class="govuk-heading-m govuk-!-margin-top-6">Your username</h2>
            <p>Your username to sign in will be b2ctest77@gmail.com</p>

            <h2 class="govuk-heading-m">Contact us</h2>

            {% if data['prototype-service'] == 'PRaP' %}
                <p>PRaP Operational Support Team</p>

                <p>
                    Opening times:<br>
                    <strong>Monday to Friday: 9:00am to 4:00pm</strong>
                </p>

                <p>
                    Telephone:<br>
                    <strong>0345 604 5406</strong>
                </p>

                <p>
                    Email:<br>
                    <a href="#" class="govuk-link">prap.support@dwp.gov.uk</a>
                </p>
            {% elseif data['prototype-service'] == 'HTDS' %}
                <p>HTDS Operational Support Team</p>

                <p>
                    Opening times:<br>
                    <strong>Monday to Friday: 8:00am to 4:30pm</strong>
                </p>

                <p>
                    Telephone:<br>
                    <strong>01253 843 812</strong>
                </p>

                <p>
                    Email:<br>
                    <a href="#" class="govuk-link">DigitalHealth.livesupport@dwp.gov.uk</a>
                </p>
            {% elseif data['prototype-service'] == 'ESF' %}
                <p>ESF Operational Support Team</p>

                <p>
                    Opening times:<br>
                    <strong>Monday to Friday: 9:00am to 4:00pm</strong>
                </p>

                <p>
                    Telephone:<br>
                    <strong>0345 604 5406</strong>
                </p>

                <p>
                    Email:<br>
                    <a href="#" class="govuk-link">esf.support@dwp.gov.uk</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
