{% extends "layout.html" %}

{% block pageTitle %}
  Dashboard - Health Assessment - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v2/includes/nav.html" %}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">TRAPS</h1>

<div class="govuk-cards govuk-cards--2">
    <div class="govuk-cards--2__item govuk-card--dashboard">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Partner organisations</h2>

    <p class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-visually-hidden">There are currently</span>
      23
      <span class="govuk-visually-hidden">partner organisations in the system</span>
    </p>

    <ul class="govuk-list">
      <li>
        <a href="organisation-add" class="govuk-link">Add new partner organisation</a>
      </li>

      <li>
        <a href="organisation-list" class="govuk-link">View all partner organisations</a>
      </li>
    </ul>
  </div>

  <div class="govuk-cards--2__item govuk-card--dashboard">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Users</h2>

    <p class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-visually-hidden">There are currently</span>
      184
      <span class="govuk-visually-hidden">users in the system</span>
    </p>

    <ul class="govuk-list">
      <li>
        <a href="user-add" class="govuk-link">Add a new user</a>
      </li>

      <li>
        <a href="#" class="govuk-link">Add multiple new users (TODO)</a>
      </li>

      <li>
        <a href="user-list" class="govuk-link">View all users</a>
      </ul>
  </div>
</div>
{% endblock %}
