{% extends "layout.html" %}

{% block pageTitle %}
  Dashboard - User - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v2/includes/nav.html" %}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Jane Smith</h1>

<div class="govuk-cards">
  <div class="govuk-cards__item govuk-cards__item--dashboard">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Your account</h2>

    <ul class="govuk-list">
      <li>
        <a href="user-edit" class="govuk-link">Edit your details</a>
      </li>
  </div>
</div>
{% endblock %}
