{% extends "layout.html" %}

{% block pageTitle %}{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v2/includes/nav.html" %}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l listing-page">Partner organisations</h1>

<a href="organisation-add" class="govuk-button listing-page">Add new partner organisation</a>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-half">Name</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Operator</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Service</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Users</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      {% if data['organisation-name'] %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="organisation-edit" class="govuk-link">{{ data['organisation-name'] }}</a></th>
        <td class="govuk-table__cell">-</td>
        <td class="govuk-table__cell">-</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
      </tr>
      {% endif %}

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="organisation-edit" class="govuk-link">G3S</a></th>
        <td class="govuk-table__cell"><a href="operator-edit" class="govuk-link">Health</a></td>
        <td class="govuk-table__cell"><a href="service-edit" class="govuk-link">Health Assessment</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="user-list" class="govuk-link">37</a></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="organisation-edit" class="govuk-link">Providers R Us</a></th>
        <td class="govuk-table__cell"><a href="operator-edit" class="govuk-link">Health</a></td>
        <td class="govuk-table__cell"><a href="service-edit" class="govuk-link">Health Assessment</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="user-list" class="govuk-link">31</a></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="organisation-edit" class="govuk-link">Cap Gemini</a></th>
        <td class="govuk-table__cell"><a href="operator-edit" class="govuk-link">Health</a></td>
        <td class="govuk-table__cell"><a href="service-edit" class="govuk-link">CYI</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="user-list" class="govuk-link">12</a></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="organisation-edit" class="govuk-link">Consultio</a></th>
        <td class="govuk-table__cell"><a href="operator-edit" class="govuk-link">State Pensions</a></td>
        <td class="govuk-table__cell"><a href="service-edit" class="govuk-link">CYI</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="user-list" class="govuk-link">98</a></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="organisation-edit" class="govuk-link">Odyssey</a></th>
        <td class="govuk-table__cell"><a href="operator-edit" class="govuk-link">Universal Credit</a></td>
        <td class="govuk-table__cell"><a href="service-edit" class="govuk-link">CYI</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="user-list" class="govuk-link">23</a></td>
      </tr>
    </tbody>
  </table>

  <p class="govuk-!-margin-top-9">
    <a href="dashboard-root" class="govuk-link">Back to dashboard</a>
  </p>
{% endblock %}
