{% extends "layout.html" %}

{% block pageTitle %}
  Edit organisation - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v2/includes/nav.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <form action="organisation-summary" method="post" class="form">
      {{ govukFieldset({
        legend: {
          text: "Edit organisation",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      })}}

      {{ govukInput({
        label: {
          text: "Organisation name"
        },
        id: "organisation-name",
        name: "organisation-name",
        value: data["organisation-name"]
      }) }}

      {{ govukInput({
        label: {
          text: "Admin full name"
        },
        id: "organisation-admin-full-name",
        name: "organisation-admin-full-name",
        value: data["organisation-admin-full-name"]
      }) }}

      {{ govukInput({
        label: {
          text: "Admin email address"
        },
        id: "organisation-admin-email-address",
        name: "organisation-admin-email-address",
        type: "email",
        value: data["organisation-admin-email-address"]
      }) }}

      {% include "includes/organisation-access-rights.html" %}

      {{ govukButton({
        text: "Save changes"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
