{% extends "layout.html" %}

{% block pageTitle %}
  Check your details - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v2/includes/nav.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Add a new user</span>
        <h1 class="govuk-heading-l">Check details</h1>

        {{ govukSummaryList({
        rows: [
            {
            key: {
                text: "User details"
            },
            value: {
                html: data["user-full-name"] + "<br>" + data["user-email-address"] + "<br>" + data["user-phone-number"]
            },
            actions: {
                items: [
                {
                    href: "user-edit",
                    text: "Change",
                    visuallyHiddenText: "details"
                }
                ]
            }
            },
            {
            key: {
                text: "This user can..."
            },
            value: {
                html: "create organisation users: " + data["user-access-rights-add-org-users"] + "<br>" + "add existing services to a partner organisation: " + data["user-access-rights-add-org-services"]+ "<br>"  + "create new partner organisations: " + data["user-access-rights-add-organisations"]+ "<br>"  + "add existing services to a service group: " + data["user-access-rights-add-services-to-operator"]+ "<br>"  + "create new services: " + data["user-access-rights-add-services"]+ "<br>"  + "create new service groups: " + data["user-access-rights-add-service-groups"]
            },
            actions: {
                items: [
                {
                    href: "user-edit-2",
                    text: "Change",
                    visuallyHiddenText: "access rights"
                }
                ]
            }
            }
        ]
        }) }}

        <a href="user-confirmation" class="govuk-button">Continue</a>
    </div>
</div>
{% endblock %}
