{% extends "layout.html" %}

{% block pageTitle %}
    Setup device - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo" style="width:50%">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            DWP Authenticate: {{ data['prototype-service'] }}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Set up an authenticator app</h1>

            <p>Using your smartphone or tablet:</p>

            <ol class="govuk-list govuk-list--number">
                <li>
                    Download an authenticator app (such as Google Authenticator or Microsoft Authenticator)
                </li>

                <li>
                    Scan this QR code using the app:<br>
                    <img src="/public/images/qr-code.png" alt="qr code">

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                I cannot scan the QR code
                            </span>
                        </summary>

                        <div class="govuk-details__text">
                            <p>Choose to enter the code manually then enter this key:</p>
                            <p>OVAW QI2E MFSC SZBB</p>
                        </div>
                    </details>
                </li>

                <li>
                    Check the app for your 6 digit access code. The code changes every 30 seconds.
                </li>
            </ol>

            {{ govukButton({
                text: "Continue",
                href: "app-code"
            }) }}

            <p>
                <a href="complete" class="govuk-link">
                    I'll just use text messages
                </a>
            </p>
        </div>
    </div>
{% endblock %}
