{% extends "layout.html" %}

{% block pageTitle %}
  Registration complete - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{serviceName}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
            titleText: "Your password has been reset"
        }) }}

        <p>You’ll now use the new password when logging into DWP Authenticate.</p>

        <h2 class="govuk-heading-m govuk-!-margin-top-6">Accessing Provider Referrals and Payments service</h2>
        <p>As you’ve already been authenticated, you can continue to this service now.</p>

        {{ govukButton({
            text: "Continue"
        }) }}

    </div>
</div>
{% endblock %}
