{% extends "layout.html" %}

{% block pageTitle %}
    Reset password - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{serviceName}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Reset your password</h1>

            <h2 class="govuk-heading-s">Before you start, you'll need:</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>Your email address</li>
                <li>The mobile phone linked to your DWP Authenticate account</li>
            </ul>
      
            <h2 class="govuk-heading-s">What will happen:</h2>
            <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-9">
                <li>You’ll enter the email address you normally use to sign in.</li>
                <li>We’ll send a password reset code to that email address.</li>
                <li>You’ll enter that password reset code.</li>
                <li>You’ll be authenticated by text or an app (if you’ve set that up).</li>
                <li>You’ll create a new password.</li>
                <li>You’ll be signed in to DWP Authenticate.</li>
            </ol>

    
                  
            {{ govukButton({
                text: "Start password reset",
                href: "enter-email.html",
                isStartButton: true
            }) }}
  </div>
{% endblock %}
