{% extends "layout.html" %}

{% block pageTitle %}
  Admin portal user - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}

   <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    <span class="govuk-caption-l">Add a user</span>Will the user be responsible for managing access for other users?
                </h1>
            </legend>
 
            <form id="form" method="post" action="admin-portal-branch">
                {{ govukRadios({
                idPrefix: "admin-portal-user",
                name: "admin-portal-user",
                fieldset: {
                },
                items: [
                    {
                    value: "admin-user",
                    text: "Yes"
                    },
                    {
                    value: "standard-user",
                    html: "No, they only need to access " + data['prototype-service']  
                    }
                ]
                }) }}

                {{ govukButton({
                        text: "Continue"
                    }) }}

                <input type="hidden" id="organisation-name" name="organisation-name" value="{{ data['organisation-name-existing'] }}">
            </form>
        </div>
    </div>
{% endblock %}
