{% extends "layout.html" %}

{% block pageTitle %}
    User added - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% set panelTitle %}
        {% if data["admin-portal-user"] == 'admin-user' %}
            New admin user request sent
        {% else %}
            New user request sent
        {% endif %}
    {% endset %}

    {% set panelContent %}
            {{ data["user-first-name"] }} {{ data['user-last-name'] }}, {{ data['organisation-name-existing'] }} {{ data['organisation-name-custom'] }}
    {% endset %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: panelTitle,
                html: panelContent
            }) }}

            <p>Dave Fenton has been notified of your request.</p>

            <p>
                    <a href="../add/start" class="govuk-link">
                        Add another user
                    </a>
               
            </p>

            <p>
                <a href="../../dashboard" class="govuk-link">
                    Back to dashboard
                </a>
            </p>
        </div>
    </div>
{% endblock %}
