{% extends "layout.html" %}

{% block pageTitle %}
  Add new user - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}

    {% set legendContent %}
        <span class="govuk-caption-l">Add a user</span>What job role does the user perform?
    {% endset %}
    

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="supplier-ref" method="post" class="form">
                

                {{ govukCheckboxes({
                    idPrefix: "roles",
                    name: "roles",
                    fieldset: {
                        legend: {
                        html: legendContent,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                        }
                    },
                    hint: {
                        text: "Select all that apply."
                    },
                    items: [
                        {
                        value: "Admin",
                        text: "Admin"
                        },
                        {
                        value: "HCP",
                        text: "HCP"
                        },
                        {
                        value: "QHCP",
                        text: "QHCP"
                        },
                        {
                        value: "Case Worker",
                        text: "Case worker"
                        },
                        {
                        value: "Decision Maker",
                        text: "Decision maker"
                        },
                        {
                        value: "Super User",
                        text: "Super user"
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

                <input type="hidden" id="organisation-name" name="organisation-name" value="{{ data['organisation-name-existing'] }}">
            </form>
        </div>
    </div>
{% endblock %}
