{% extends "layout.html" %}

{% block pageTitle %}
    Delete user - {{ data['user-first-name'] }} {{ data['user-last-name'] }}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "User deleted",
                html: data['user-first-name'] + " " + data['user-last-name'] + " can no longer access " + data['prototype-service']

            }) }}


            <p>
                <a href="../../dashboard" class="govuk-link">Back to dashboard</a>
            </p>
        </div>
    </div>
{% endblock %}
