{% extends "layout.html" %}

{% block pageTitle %}
  Add new user - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="confirmation" method="post" class="form">
                {{ govukFieldset({
                    legend: {
                        html: '<span class="govuk-caption-l">DWP</span>Add a user',
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                {{ govukInput({
                    label: {
                        text: "First name"
                    },
                    id: "user-first-name",
                    name: "user-first-name",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Last name"
                    },
                    id: "user-last-name",
                    name: "user-last-name",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Email address"
                    },
                    id: "user-email-address",
                    name: "user-email-address",
                    type: "email",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {% include './includes/access-rights.html' %}

                <input type="hidden" value="dwp" id="organisation-name" name="organisation-name">

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
