{% extends "layout.html" %}

{% block pageTitle %}
  Organisation added - {{ data['organisation-name'] }}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}

    {% set panelContent %}
        {{ data["contact-0-first-name"] }} {{ data['contact-0-last-name'] }} added to {{ data["organisation-name-contact"] }}
    {% endset %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
            titleText: "Contact added",
            html: panelContent
        }) }}

        <p>
            <a href="../../dashboard" class="govuk-link">
                Back to dashboard
            </a>
        </p>
    </div>
</div>
{% endblock %}
