{% extends "layout.html" %}

{% block pageTitle %}
    Add your service - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{serviceName}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Add your service to DWP Authenticate</h1>
            <p>Authenticate is the department's strategic solution for third party authentication.</p>

            <p>It allow users who work for organisations outside of DWP to access DWP systems
                and supports multi-factor authentication using a mobile device (SMS or authenticator app).</p>

            {{ govukButton({
                text: "Add your service",
                href: "details.html",
                isStartButton: true
            }) }}

            <h2 class="govuk-heading-m govuk-!-margin-top-6">Before you start</h2>

            <p>You will need:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>Contact details for your service</li>
                <li>Support details for your service</li>
                <li>Technical details (staging, environment and productions urls)</li>
                <li>Details of the initial administrators for your service</li>
            </ul>
        </div>
    </div>
{% endblock %}
