        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h1 class="govuk-heading-l listing-page">Users</h1>
                <a href="../add/start" class="govuk-button listing-page">
                    Add a user
                </a>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="user-search-box">
        
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--s" for="user-search">
                                Search for a user
                            </label>
                            <span id="user-search-hint" class="govuk-hint">
                                Enter the user's full email address
                            </span>
                            <input class="govuk-input govuk-input--width-20" id="user-search" name="user-search" type="text" aria-describedby="user-search-hint" spellcheck="false">
                        
                        
                            <button class="govuk-button" data-module="govuk-button">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="user-search-border">