{% extends "layout.html" %}

{% block pageTitle %}
    Requests {{ data['prototype-service'] }}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l listing-page">
                Your tasks
            </h1>

            <p class="govuk-body">Review these requests and approve or reject them.</p>


            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Type</th>
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Requester</th>
                        <th scope="col" class="govuk-table__header">Date</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                    </tr>
                </thead>

                <tbody class="govuk-table__body">

                    {% if data['authorise-request'] %}
                        
                    {% else %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                <a href="single-new-user" class="govuk-link">
                                    New user
                                </a>
                            </th>
                            <td class="govuk-table__cell govuk-table__cell">
                            Dave Evans
                            </td>
                            <td class="govuk-table__cell govuk-table__cell">
                            Paul Smith
                            </td>
                            <td class="govuk-table__cell">
                                21 March 2020
                            </td>
                            <td class="govuk-table__cell">
                                Requested
                            </td>
                        </tr>
                    {% endif %}
      
                    

                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            <a href="single-new-user" class="govuk-link">
                                New user
                            </a>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell">
                           Amijit Bhoghal
                        </td>
                        <td class="govuk-table__cell govuk-table__cell">
                            Paul Smith
                        </td>
                        <td class="govuk-table__cell">
                            20 March 2020
                        </td>
                        <td class="govuk-table__cell">
                            Requested
                        </td>
                    </tr>




                    {% if data['authorise-org-request'] %}
                        
                    {% else %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                <a href="single-new-organisation" class="govuk-link">
                                    New organisation
                                </a>
                            </th>
                            <td class="govuk-table__cell govuk-table__cell">
                            Calderdale Metropolitan Borough Council
                            </td>
                            <td class="govuk-table__cell govuk-table__cell">
                            Paul Smith
                            </td>
                            <td class="govuk-table__cell">
                                19 March 2020
                            </td>
                            <td class="govuk-table__cell">
                                Requested
                            </td>
                        </tr>
                    {% endif %}




                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            <a href="single-new-user" class="govuk-link">
                                New user
                            </a>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell">
                           Susanna Reid
                        </td>
                        <td class="govuk-table__cell govuk-table__cell">
                            Dan Heath
                        </td>
                        <td class="govuk-table__cell">
                            19 March 2020
                        </td>
                        <td class="govuk-table__cell">
                            Requested
                        </td>
                    </tr>


                    {% if data['authorise-delete-user-request'] %}
                        
                    {% else %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                <a href="single-delete-user" class="govuk-link">
                                    Delete user
                                </a>
                            </th>
                            <td class="govuk-table__cell govuk-table__cell">
                            Ben Walker
                            </td>
                            <td class="govuk-table__cell govuk-table__cell">
                                Paul Smith
                            </td>
                            <td class="govuk-table__cell">
                                19 March 2020
                            </td>
                            <td class="govuk-table__cell">
                                Requested
                            </td>
                        </tr>
                    {% endif %}


                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            <a href="single-delete-user" class="govuk-link">
                                Delete user
                            </a>
                        </th>
                         <td class="govuk-table__cell govuk-table__cell">
                           Emma Smith
                        </td>
                        <td class="govuk-table__cell govuk-table__cell">
                            Dan Heath
                        </td>
                        <td class="govuk-table__cell">
                            19 March 2020
                        </td>
                        <td class="govuk-table__cell">
                            Requested
                        </td>
                    </tr>
                   
                </tbody>
            </table>

            <p class="govuk-!-margin-top-9">
                <a href="../../dashboard" class="govuk-link">
                    Back to dashboard
                </a>
            </p>
        </div>
    </div>
{% endblock %}
