{% extends "layout.html" %}

{% block pageTitle %}
    Invitation re-sent
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "User access restored",
                 text: "Steve Hodge"
            }) }}

            <p><a href="../../dashboard" class="govuk-link">Back to dashboard</a></p>
        </div>
    </div>
{% endblock %}

