{% extends "layout.html" %}

{% block pageTitle %}
   Contacts - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}


{% block content %}

    <div class="govuk-width-container">

        <h1 class="govuk-heading-l listing-page">
            <span class="govuk-caption-l">{{ data['organisation-name-custom'] }}</span>
            Contacts
        </h1>

        <a href="../../contacts/add/details-custom" class="govuk-button listing-page">
            Add a contact
        </a>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Email address</th>
                    <th scope="col" class="govuk-table__header">Telephone number</th>
                </tr>
            </thead>

            <tbody class="govuk-table__body">
                {% if data['contact-1-first-name'] %}
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            <a href="single" class="govuk-link">
                                {{ data["contact-1-first-name"] }} {{ data["contact-1-last-name"] }}
                            </a>
                        </th>

                        <td class="govuk-table__cell">
                            {{ data["contact-1-email"] }}
                        </td>

                        <td class="govuk-table__cell">
                            {{ data["contact-1-phone"] }}
                        </td>
                    </tr>
                {% endif %}


                {% if data['contact-2-first-name'] %}
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            <a href="single-2" class="govuk-link">
                                {{ data["contact-2-first-name"] }} {{ data["contact-2-last-name"] }}
                            </a>
                        </th>

                        <td class="govuk-table__cell">
                            {{ data["contact-2-email"] }}
                        </td>

                        <td class="govuk-table__cell">
                            {{ data["contact-2-phone"] }}
                        </td>
                    </tr>
                {% endif %}



                {% if data['contact-3-first-name'] %}
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            <a href="single-3" class="govuk-link">
                                {{ data["contact-3-first-name"] }} {{ data["contact-3-last-name"] }}
                            </a>
                        </th>

                        <td class="govuk-table__cell">
                            {{ data["contact-3-email"] }}
                        </td>

                        <td class="govuk-table__cell">
                            {{ data["contact-3-phone"] }}
                        </td>
                </tr>
                {% endif %}


                {% if data['contact-0-first-name'] %}
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            <a href="single-3" class="govuk-link">
                                {{ data["contact-0-first-name"] }} {{ data["contact-0-last-name"] }}
                            </a>
                        </th>

                        <td class="govuk-table__cell">
                            {{ data["contact-0-email"] }}
                        </td>

                        <td class="govuk-table__cell">
                            {{ data["contact-0-phone"] }}
                        </td>
                    </tr>
                {% endif %}



            </tbody>
        </table>



        <p class="govuk-!-margin-top-9">
            <a href="../../dashboard" class="govuk-link">Back to dashboard</a>
        </p>
    </div>
{% endblock %}
