{% extends "layout.html" %}

{% block pageTitle %}
    Create new password - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{serviceName}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Create a new password</h1>

            <p>Your password must be 8 characters or more.</p>

            <p>It must include at least:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>one upper case letter</li>
                <li>one lower case letter</li>
                <li>one number</li>
                <li>one of these special characters: @ # $ % ^ & * - _ ! + = [ ] { } | \ : ‘ , . ? / ` ~ " ( ) ;</li>
            </ul>

            <p>
                It cannot include special characters that are not on this list.
            </p>

            <div class="govuk-form-group govuk-!-margin-top-6">
                <label class="govuk-label" for="width-20">
                    Enter new password
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="password">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Confirm new password
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="password">
            </div>

            {{ govukButton({
                text: "Create new password",
                href: "confirmation.html"
            }) }}
        </div>
    </div>
{% endblock %}
