{% extends "layout.html" %}

{% block pageTitle %}
    Organisation details - {{ data['organisation-name-custom'] }}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-width-container">
            <h1 class="govuk-heading-l">
                {{ data['organisation-name-custom'] }}
            </h1>

            <div class="govuk-cards govuk-cards--3">
                <div class="govuk-cards--2__item govuk-card--company">
                    <h2 class="govuk-heading-m">Organisation address</h2>

                    {% if data['address-line-1'] %}
                        <p>
                            {% if data['address-line-1'] %}
                                {{ data['address-line-1'] }}<br>
                            {% endif %}

                            {% if data['address-line-2'] %}
                                {{ data['address-line-2'] }}<br>
                            {% endif %}

                            {% if data['address-town'] %}
                                {{ data['address-town'] }}<br>
                            {% endif %}

                            {% if data['address-postcode'] %}
                                {{ data['address-postcode'] }}
                            {% endif %}
                        </p>
                    {% endif %}

                    {% if data['address-line-1'] %}
                        <p>
                            <a href="../../orgs/edit/edit-address" class="govuk-link">Edit organisation address</a>
                        </p>
                    {% else %}
                        <p>
                            <a href="organisation-add-address-only" class="govuk-link">Add organisation address</a>
                        </p>
                    {% endif %}
                </div>

                <div class="govuk-cards--2__item govuk-card--contacts">
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Contacts</h2>

                    <p class="govuk-heading-xl govuk-!-margin-bottom-5">
                        <span class="govuk-visually-hidden">There are currently</span>

                        {% if data['contact-3-first-name'] and data['contact-2-first-name'] and data['contact-1-first-name'] %}
                            3
                        {% elseif data['contact-2-first-name'] and data['contact-1-first-name'] %}
                            2
                        {% elseif data['contact-1-first-name'] %}
                            1
                        {% else %}
                            0
                        {% endif %}

                        <span class="govuk-visually-hidden">contacts in the system</span>

                        {% if data['contact-1-first-name'] %}
                            <ul class="govuk-list">
                                <li><a href="../../contacts/add/custom" class="govuk-link">Add a contact</a></li>
                                <li><a href="../../contacts/view/custom" class="govuk-link">View all contacts</a></li>

                            </ul>
                        {% else %}
                            <ul class="govuk-list">
                                <li><a href="../../contacts/add/custom" class="govuk-link">Add a contact</a></li>
                            </ul>
                        {% endif %}


                    </p>
                </div>
            </div>

            <div class="govuk-cards govuk-cards--2">
                <div class="govuk-cards--2__item govuk-card--dashboard">
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Users</h2>

                    <p class="govuk-heading-xl govuk-!-margin-bottom-5">
                        <span class="govuk-visually-hidden">There are currently</span>

                        {% if data['user-first-name'] and data['user-last-name'] %}
                            1
                        {% else %}
                            0
                        {% endif %}

                        <span class="govuk-visually-hidden">users in the system</span>
                    </p>

                    <ul class="govuk-list">
                        {% if data['organisation-name-custom'] and data['address-line-1'] and data['contact-1-first-name'] and data['contact-2-first-name'] %}
                            <li>
                                <a href="../../users/add/details-custom" class="govuk-link">Add a user</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="../add/inactive-until-updated" class="govuk-link">Add a user</a>
                            </li>
                        {% endif %}

                        {% if data['user-first-name'] and data['user-last-name'] %}
                            <li>
                                <a href="../../users/view/custom" class="govuk-link">View all users</a>
                            </li>
                        {% else %}
                        </ul>
                    {% endif %}
                </div>

                <div class="govuk-cards--2__item govuk-card--dashboard">
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Services</h2>

                    <p class="govuk-heading-xl govuk-!-margin-bottom-5">
                        <span class="govuk-visually-hidden">There are currently</span>

                        0

                        <span class="govuk-visually-hidden">services in the system</span>
                    </p>
                </div>

                <div class="govuk-cards--2__item govuk-card--dashboard">
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Teams</h2>

                    <p class="govuk-heading-xl govuk-!-margin-bottom-5">
                        <span class="govuk-visually-hidden">There are currently</span>

                        0

                        <span class="govuk-visually-hidden">teams in the system</span>
                    </p>
                </div>
            </div>

            <form id="form" method="post" action="org-actions">
                {{ govukRadios({
                    classes: "govuk-radios",
                    idPrefix: "org-task",
                    name: "org-task",
                    fieldset: {
                        legend: {
                            text: "Manage organisation and users",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m govuk-!-margin-top-7"
                        }
                    },
                    items: [
                        {
                            value: "delete-users-by-team",
                            text: "Delete users by team"
                        },
                        {
                            value: "delete-users-by-service",
                            text: "Delete users by service"
                        },
                        {
                            value: "delete",
                            text: "De-activate organisation"
                        }
                    ]
                }) }}

                <input type="hidden" value="{{ data['organisation-name-custom'] }}" name="organisation-name" id="organisation-name">

                <button type="submit" class="govuk-button govuk-!-margin-right-1" id="submit">Continue</button>
            </form>

            <p class="govuk-!-margin-top-9">
                <a href="../../dashboard" class="govuk-link">Back to dashboard</a>
            </p>
        </div>
    </div>
{% endblock %}
