{% extends "layout.html" %}

{% block pageTitle %}
  Dashboard - System - {{serviceName}}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Dashboard - System</h1>

<div class="govuk-cards">
  <div class="govuk-cards__item govuk-card--dashboard">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Service groups</h2>

    <p class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-visually-hidden">There are currently</span>
      5
      <span class="govuk-visually-hidden">service groups in the system</span>
    </p>

    <ul class="govuk-list">
      <li>
        <a href="/v1/operator-add" class="govuk-link">Add new service group</a>
      </li>

      <li>
        <a href="/v1/operator-list" class="govuk-link">View service groups</a>
      </li>
    </ul>
  </div>

  <div class="govuk-cards__item govuk-cards__item--dashboard">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Services</h2>

    <p class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-visually-hidden">There are currently</span>
      6
      <span class="govuk-visually-hidden">services in the system</span>
    </p>

    <ul class="govuk-list">
      <li>
        <a href="/v1/service-add" class="govuk-link">Add new service</a>
      </li>

      <li>
        <a href="/v1/service-list" class="govuk-link">View services</a>
      </li>
    </ul>
  </div>

  <div class="govuk-cards__item govuk-cards__item--dashboard">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Partner organisations</h2>

    <p class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-visually-hidden">There are currently</span>
      6
      <span class="govuk-visually-hidden">partner organisations in the system</span>
    </p>

    <ul class="govuk-list">
      <li>
        <a href="/v1/organisation-add" class="govuk-link">Add new partner organisation</a>
      </li>

      <li>
        <a href="/v1/organisation-list" class="govuk-link">View partner organisations</a>
      </li>
    </ul>
  </div>

  <div class="govuk-cards__item govuk-cards__item--dashboard">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Users</h2>

    <p class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-visually-hidden">There are currently</span>
      11
      <span class="govuk-visually-hidden">users in the system</span>
    </p>

    <ul class="govuk-list">
      <li>
        <a href="/v1/user-add" class="govuk-link">Add a new user</a>
      </li>

      <li>
        <a href="#" class="govuk-link">Add multiple new users (TODO)</a>
      </li>

      <li>
        <a href="/v1/user-list" class="govuk-link">View users</a>
      </ul>
  </div>
</div>
{% endblock %}
