{% extends "layout.html" %}

{% block pageTitle %}
  Add new Group - {{serviceName}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <form action="/v1/operator-summary" method="post" class="form">
      {{ govukFieldset({
        legend: {
          text: "Admin access rights",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      })}}

      {% include "includes/operator-access-rights.html" %}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
