{% extends "layout.html" %}

{% block pageTitle %}
  Add new Group - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v1/includes/nav.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ govukBackLink({
      text: "Back",
      href: "/v1/dashboard-root"
    }) }}

    <form action="/v1/operator-add-2" method="post" class="form">
      {{ govukFieldset({
        legend: {
          html: '<span class="govuk-caption-l">Add a new service group</span>Create a service group name',
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      })}}

      {{ govukInput({
        label: {
          text: "Service group name"
        },
        id: "operator-name",
        name: "operator-name"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
