{% extends "layout.html" %}

{% block pageTitle %}Service groups - {{serviceName}}{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v1/includes/nav.html" %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Service groups</h1>

  <a href="/v1/operator-add" class="govuk-button">Add new service group</a>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-half">Name</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-quarter">Services</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-quarter">Organisations</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Users</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      {% if data['operator-name'] %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/v1/dashboard-operators" class="govuk-link">{{ data['operator-name'] }}</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
      </tr>
      {% endif %}

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/v1/dashboard-operators" class="govuk-link">State Pension</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/v1/service-list" class="govuk-link">2</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/v1/organisation-list" class="govuk-link">23</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/v1/user-list" class="govuk-link">167</a></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/v1/dashboard-operators" class="govuk-link">Universal Credit</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/v1/service-list" class="govuk-link">8</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/v1/organisation-list" class="govuk-link">43</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/v1/user-list" class="govuk-link">1004</a></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/v1/dashboard-operators" class="govuk-link">Operator Name</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/v1/service-list" class="govuk-link">1</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/v1/organisation-list" class="govuk-link">3</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/v1/user-list" class="govuk-link">66</a></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/v1/dashboard-operators" class="govuk-link">Another Operator</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/v1/service-list" class="govuk-link">2</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/v1/organisation-list" class="govuk-link">12</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/v1/user-list" class="govuk-link">96</a></td>
      </tr>
    </tbody>
  </table>

  <a href="/v1/dashboard-root" class="govuk-link">Back to dashboard</a>
{% endblock %}
