{% extends "layout.html" %}

{% block pageTitle %}
  Edit service group - {{serviceName}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <form action="/v1/operator-summary" method="post" class="form">
      {{ govukFieldset({
        legend: {
          text: "Edit service group",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      })}}

      {{ govukInput({
        label: {
          text: "Service group name"
        },
        id: "operator-name",
        name: "operator-name",
        value: data["operator-name"]
      }) }}

      {{ govukInput({
        label: {
          text: "Service group admin first name"
        },
        id: "operator-admin-first-name",
        name: "operator-admin-first-name",
        value: data["operator-admin-first-name"]
      }) }}

      {{ govukInput({
        label: {
          text: "Service group admin last name"
        },
        id: "operator-admin-last-name",
        name: "operator-admin-last-name",
        value: data["operator-admin-last-name"]
      }) }}

      {{ govukInput({
        label: {
          text: "Service group admin phone number"
        },
        id: "operator-admin-phone-number",
        name: "operator-admin-phone-number",
        type: "tel",
        value: data["operator-admin-phone-number"]
      }) }}

      {{ govukInput({
        label: {
          text: "Service group admin email address"
        },
        id: "operator-admin-email-address",
        name: "operator-admin-email-address",
        type: "email",
        value: data["operator-admin-email-address"]
      }) }}

      {% include "includes/operator-access-rights.html" %}

      {{ govukButton({
        text: "Save changes"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
