{% extends "layout.html" %}

{% block pageTitle %}
  Add new Group - {{serviceName}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ govukBackLink({
      text: "Back",
      href: "/v1/operator-add-2"
    }) }}

    <form action="/v1/operator-summary" method="post" class="form">
      {{ govukFieldset({
        legend: {
          html: '<span class="govuk-caption-l">Add a new service group</span>Set admin permissions',
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      })}}

      {% include "includes/operator-access-rights.html" %}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
