{% extends "layout.html" %}

{% block pageTitle %}
  Service group added - {{serviceName}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: data["operator-name"] + "service group created"
    }) }}

    <p>An invitation has been sent to xxxx@xxxx.xxxx</p>

    <!--<a href="/v1/operator-list" class="govuk-link">View all service groups</a><br>
    <a href="/v1/operator-add" class="govuk-link">Add another service group</a><br>-->
    <a href="/v1/dashboard-root" class="govuk-link">Go to the dashboard</a>
  </div>
</div>
{% endblock %}
