{% extends "layout.html" %}

{% block pageTitle %}
  Edit organisation - {{serviceName}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ govukFieldset({
      legend: {
        text: "Edit organisation",
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    })}}

    {{ govukInput({
      label: {
        text: "Organisation name"
      },
      id: "organisation-name",
      name: "organisation-name",
      value: "Capita"
    }) }}

    {{ govukInput({
      label: {
        text: "Organisation admin first name"
      },
      id: "organisation-admin-first-name",
      name: "organisation-admin-first-name",
      value: "Gary"
    }) }}

    {{ govukInput({
      label: {
        text: "Organisation admin last name"
      },
      id: "organisation-admin-last-name",
      name: "organisation-admin-last-name",
      value: "Speed"
    }) }}

    {{ govukInput({
      label: {
        text: "Organisation admin phone number"
      },
      id: "organisation-admin-phone-number",
      name: "organisation-admin-phone-number",
      type: "tel",
      value: "0113 234 567890"
    }) }}

    {{ govukInput({
      label: {
        text: "Organisation admin email address"
      },
      id: "organisation-admin-email-address",
      name: "organisation-admin-email-address",
      type: "email",
      value: "gary.speed@leedsutd.co.uk"
    }) }}

    {{ govukRadios({
      idPrefix: "organisation-admin-access-rights",
      name: "organisation-admin-access-rights",
      fieldset: {
        legend: {
          text: "Access rights",
          isPageHeading: false
        }
      },
      hint: {
        html: '<a href="#" target="_blank" rel="noopener noreferrer">More information about access rights<span class="govuk-visually-hidden"> (This link opens in a new window or tab)</span></a>'
      },
      items: [
        {
          value: "platinum",
          text: "Platinum"
        },
        {
          value: "gold",
          text: "Gold"
        },
        {
          value: "silver",
          text: "Silver"
        },
        {
          value: "bronze",
          text: "Bronze",
          checked: true
        },
        {
          value: "tin",
          text: "Tin"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Add operator"
    }) }}
  </div>
</div>
{% endblock %}
