{% extends "layout.html" %}

{% block pageTitle %}
  Check your details - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v1/includes/nav.html" %}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Check details</h1>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Partner organisation name"
      },
      value: {
        html: data["organisation-name"]
      },
      actions: {
        items: [
          {
            href: "/v1/organisation-edit",
            text: "Change",
            visuallyHiddenText: "partner organisation name"
          }
        ]
      }
    },
    {
      key: {
        text: "Full name"
      },
      value: {
        html: data["organisation-admin-full-name"] + "<br>" + data["organisation-admin-email-address"]
      },
      actions: {
        items: [
          {
            href: "/v1/organisation-edit",
            text: "Change",
            visuallyHiddenText: "partner organisation admin details"
          }
        ]
      }
    },
    {
      key: {
        text: "Access rights"
      },
      value: {
        html: data["organisation-admin-access-rights"]
      },
      actions: {
        items: [
          {
            href: "/v1/organisation-edit",
            text: "Change",
            visuallyHiddenText: "partner organisation admin access rights"
          }
        ]
      }
    }
  ]
}) }}

<a href="/v1/organisation-confirmation" class="govuk-button">Continue</a>
{% endblock %}
