{% extends "layout.html" %}

{% block pageTitle %}
  Add new partner organisation - {{serviceName}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <form action="/v1/organisation-summary" method="post" class="form">
      {{ govukFieldset({
        legend: {
          text: "Add a partner organisation",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      })}}

      {{ govukInput({
        label: {
          text: "Partner organisation name"
        },
        id: "organisation-name",
        name: "organisation-name"
      }) }}

      {{ govukInput({
        label: {
          text: "Partner organisation admin full name"
        },
        id: "organisation-admin-full-name",
        name: "organisation-admin-full-name"
      }) }}

      {{ govukInput({
        label: {
          text: "Partner organisation admin email address"
        },
        id: "organisation-admin-email-address",
        name: "organisation-admin-email-address",
        type: "email"
      }) }}

      {% include "includes/organisation-access-rights.html" %}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
