{% extends "layout.html" %}

{% block pageTitle %}
  Add new service - {{serviceName}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <form action="/v1/service-summary" method="post" class="form">
      {{ govukFieldset({
        legend: {
          text: "Add a service",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      })}}

      {{ govukInput({
        label: {
          text: "Service name"
        },
        id: "service-name",
        name: "service-name"
      }) }}

      {{ govukInput({
        label: {
          text: "Service admin first name"
        },
        id: "service-admin-first-name",
        name: "service-admin-first-name"
      }) }}

      {{ govukInput({
        label: {
          text: "Service admin last name"
        },
        id: "service-admin-last-name",
        name: "service-admin-last-name"
      }) }}

      {{ govukInput({
        label: {
          text: "Service admin phone number"
        },
        id: "service-admin-phone-number",
        name: "service-admin-phone-number",
        type: "tel"
      }) }}

      {{ govukInput({
        label: {
          text: "Service admin email address"
        },
        id: "service-admin-email-address",
        name: "service-admin-email-address",
        type: "email"
      }) }}

      {% include "includes/service-access-rights.html" %}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
