{% extends "layout.html" %}

{% block pageTitle %}
  Check your details - {{serviceName}}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Check details</h1>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Full name"
      },
      value: {
        html: data["user-full-name"] + "<br>" + data["user-email-address"]
      },
      actions: {
        items: [
          {
            href: "/v1/user-edit",
            text: "Change",
            visuallyHiddenText: "details"
          }
        ]
      }
    },
    {
      key: {
        text: "Access rights"
      },
      value: {
        html: data["user-access-rights"]
      },
      actions: {
        items: [
          {
            href: "/v1/user-edit",
            text: "Change",
            visuallyHiddenText: "access rights"
          }
        ]
      }
    }
  ]
}) }}

<a href="/v1/user-confirmation" class="govuk-button">Continue</a>
{% endblock %}
