{% extends "layout.html" %}

{% block pageTitle %}
  Edit user - {{serviceName}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <form action="/v1/user-summary" method="post" class="form">
      {{ govukFieldset({
        legend: {
          text: "Edit user",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) }}

      {{ govukInput({
        label: {
          text: "First name"
        },
        id: "user-first-name",
        name: "user-first-name",
        value: data["user-first-name"]
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "user-last-name",
        name: "user-last-name",
        value: data["user-last-name"]
      }) }}

      {{ govukInput({
        label: {
          text: "Phone number"
        },
        id: "user-phone-number",
        name: "user-phone-number",
        type: "tel",
        value: data["user-phone-number"]
      }) }}

      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "user-email-address",
        name: "user-email-address",
        type: "email",
        value: data["user-email-address"]
      }) }}

      {% include "includes/user-access-rights.html" %}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
