{% extends "layout.html" %}

{% block pageTitle %}Users - {{serviceName}}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Users</h1>

  <a href="/v1/user-add" class="govuk-button">Add new user</a>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header">Name</th>

        <th scope="col" class="govuk-table__header">Email address</th>

        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Organisation</th>

        <th scope="col" class="govuk-table__header">Status</th>

      </tr>
    </thead>

    <tbody class="govuk-table__body">
      {% if data['user-full-name'] %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/v1/user-view" class="govuk-link">{{ data['user-full-name'] }}</a></th>
        <td class="govuk-table__cell"><a href="mailto:{{ data['user-email-address'] }}" class="govuk-link">{{ data['user-email-address'] }}</a></td>
        <td class="govuk-table__cell">-</td>
        <td class="govuk-table__cell"><span class="govuk-tag">Active</span></td>
      </tr>
      {% endif %}

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/v1/user-view" class="govuk-link">Gary Speed</a></th>
        <td class="govuk-table__cell"><a href="mailto:gary.speed@leedsutd.co.uk" class="govuk-link">gary.speed@leedsutd.co.uk</a></td>
        <td class="govuk-table__cell">Capita</td>
        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--inactive">Suspended</span></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/v1/user-view" class="govuk-link">Gordon Strachan</a></th>
        <td class="govuk-table__cell"><a href="mailto:gordon.strachan@leedsutd.co.uk" class="govuk-link">gordon.strachan@leedsutd.co.uk</a></td>
        <td class="govuk-table__cell">G3S</td>
        <td class="govuk-table__cell"><span class="govuk-tag">Active</span></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/v1/user-view" class="govuk-link">Gary McAllister</a></th>
        <td class="govuk-table__cell"><a href="mailto:gary.mcallister@leedsutd.co.uk" class="govuk-link">gary.mcallister@leedsutd.co.uk</a></td>
        <td class="govuk-table__cell">Capita</td>
        <td class="govuk-table__cell"><span class="govuk-tag">Active</span></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/v1/user-view" class="govuk-link">Tony Dorigo</a></th>
        <td class="govuk-table__cell"><a href="mailto:tony.dorigo@leedsutd.co.uk" class="govuk-link">tony.dorigo@leedsutd.co.uk</a></td>
        <td class="govuk-table__cell">Capita</td>
        <td class="govuk-table__cell"><span class="govuk-tag">Active</span></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/v1/user-view" class="govuk-link">Mel Sterland</a></th>
        <td class="govuk-table__cell"><a href="mailto:mel.sterland@leedsutd.co.uk" class="govuk-link">mel.sterland@leedsutd.co.uk</a></td>
        <td class="govuk-table__cell">Capita</td>
        <td class="govuk-table__cell"><span class="govuk-tag">Active</span></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/v1/user-view" class="govuk-link">Some Dude</a></th>
        <td class="govuk-table__cell"><a href="mailto:some.dude@leedsutd.co.uk" class="govuk-link">some.dude@leedsutd.co.uk</a></td>
        <td class="govuk-table__cell">Capita</td>
        <td class="govuk-table__cell"><span class="govuk-tag">Active</span></td>
      </tr>
    </tbody>
  </table>
{% endblock %}
