{% extends "layout.html" %}

{% block pageTitle %}
  Add new user - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v1/includes/nav.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <form action="/v1/user-summary" method="post" class="form">
      {{ govukFieldset({
        legend: {
          text: "Add a user",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      })}}

      {{ govukInput({
        label: {
          text: "Name"
        },
        id: "user-full-name",
        name: "user-full-name"
      }) }}

      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "user-email-address",
        name: "user-email-address",
        type: "email"
      }) }}

      {% include "includes/user-access-rights.html" %}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
