{% extends "layout.html" %}

{% block pageTitle %}
  Add new organisation - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v3/includes/nav.html" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="organisation-confirmation" method="post" class="form">
                {{ govukFieldset({
                    legend: {
                    html: '<span class="govuk-caption-l">Add an organisation</span>Organisation details',
                    classes: "govuk-fieldset__legend--l",
                    isPageHeading: true
                    }
                })}}

                <p>Add the name of the organisation and the details of the person you are inviting as the admin.</p>

                {{ govukInput({
                    label: {
                    text: "Organisation name"
                    },
                    id: "organisation-name",
                    name: "organisation-name",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {{ govukInput({
                    label: {
                    text: "Full name of admin for this organisation"
                    },
                    id: "organisation-admin-full-name",
                    name: "organisation-admin-full-name",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {{ govukInput({
                    label: {
                    text: "Admin's email address"
                    },
                    id: "organisation-admin-email-address",
                    name: "organisation-admin-email-address",
                    type: "email",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
