{% extends "layout.html" %}

{% block pageTitle %}
  Add new partner organisation - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v3/includes/nav-service.html" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="organisation-confirmation-health-assessment" method="post" class="form">
                {{ govukFieldset({
                    legend: {
                    text: "Add a partner organisation",
                    classes: "govuk-fieldset__legend--l",
                    isPageHeading: true
                    }
                })}}

                {{ govukInput({
                    label: {
                    text: "Partner organisation name"
                    },
                    id: "organisation-name",
                    name: "organisation-name",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {{ govukInput({
                    label: {
                    text: "Admin full name"
                    },
                    id: "organisation-admin-full-name",
                    name: "organisation-admin-full-name",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {{ govukInput({
                    label: {
                    text: "Admin email address"
                    },
                    id: "organisation-admin-email-address",
                    name: "organisation-admin-email-address",
                    type: "email",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
