{% extends "layout.html" %}

{% block pageTitle %}
  Add new service - add a connection - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v3/includes/nav.html" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="service-add-policies" method="post" class="form">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Add a new service</span>
                        Add a connection
                    </legend>


                    {{ govukInput({
                        label: {
                            text: "Connection name"
                        },
                        id: "service-connection-name",
                        name: "service-connection-name",
                        classes: "govuk-!-width-three-quarters"
                    }) }}

                    {{ govukTextarea({
                        label: {
                            text: "Callback URLs"
                        },
                        id: "service-connection-callbacks",
                        name: "service-connection-callbacks",
                        classes: "govuk-!-width-three-quarters",
                        hint: {
                            text: "One URL per line, including protocol (http:// or https://)."
                        }
                    }) }}

                    {{ govukButton({
                        text: "Continue"
                    }) }}

                    {{ govukButton({
                        text: "Skip this step",
                        classes: "govuk-button--secondary"
                    }) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
