{% extends "layout.html" %}

{% block pageTitle %}
  Add new service - support information - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v3/includes/nav.html" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="service-add-connection" method="post" class="form">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Add a service</span>
                        Support information
                    </legend>

                    {{ govukInput({
                        label: {
                            text: "Email"
                        },
                        id: "service-support-email",
                        name: "service-support-email",
                        classes: "govuk-!-width-three-quarters"
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Phone number"
                        },
                        id: "service-support-phone",
                        name: "service-support-phone",
                        classes: "govuk-!-width-three-quarters"
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Website"
                        },
                        id: "service-support-site",
                        name: "service-support-site",
                        classes: "govuk-!-width-three-quarters"
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Available hours"
                        },
                        id: "service-support-hours",
                        name: "service-support-hours",
                        classes: "govuk-!-width-three-quarters"
                    }) }}

                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
