{% extends "layout.html" %}

{% block pageTitle %}
  User added - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v3/includes/nav.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "User details updated for " + data["user-full-name"]
      }) }}

      <!--<a href="user-list" class="govuk-link">View all users</a><br>
      <a href="user-add" class="govuk-link">Add another user</a><br>-->
      <a href="dashboard-root" class="govuk-link">Go to the dashboard</a>
    </div>
  </div>
{% endblock %}
