{% extends "layout.html" %}

{% block pageTitle %}
  Add new user - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v3/includes/nav.html" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="user-confirmation-capita" method="post" class="form">
                {{ govukFieldset({
                    legend: {
                        html: '<span class="govuk-caption-l">Add a new organisation admin</span>Organisation admin details',
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                {{ govukSelect({
                    id: "user-organisation",
                    name: "user-organisation",
                    label: {
                        text: "Organisation"
                    },
                    items: [
                        {
                            value: "",
                            text: "None"
                        },
                        {
                            value: "Capita",
                            text: "Capita"
                        },
                        {
                            value: "G3S",
                            text: "G3S"
                        },
                        {
                            value: "Other Org",
                            text: "Other Org"
                        },
                        {
                            value: "Someone Else",
                            text: "Someone Else"
                        }
                    ]
                }) }}

                {{ govukInput({
                    label: {
                        text: "Name"
                    },
                    id: "user-full-name",
                    name: "user-full-name",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Email address"
                    },
                    id: "user-email-address",
                    name: "user-email-address",
                    type: "email",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Phone number"
                    },
                    id: "user-phone-number",
                    name: "user-phone-number",
                    type: "tel",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
