{% extends "layout.html" %}

{% block pageTitle %}
  Registration complete - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{serviceName}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}


    {% set panelContent %}
        Admin for {{ data["prototype-service"] }}
    {% endset %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Registration complete",
                html: panelContent
            }) }}

            <h2 class="govuk-heading-m govuk-!-margin-top-6"> What happens next</h2>
            <p>We will send you an email with instructions on how to sign in.</p>


            <h2 class="govuk-heading-m govuk-!-margin-top-6">Your username</h2>
            <p>When you sign in, your username will be b2ctest77@gmail.com</p>

            <h2 class="govuk-heading-m govuk-!-margin-top-6">Your permissions</h2>
            <p>You will be able to use DWP Authenticate to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>give people access to {{ data['prototype-service'] }} and manage their access</li>
                <li>add organisations, such as a local authority or contractor, so that their employees can use {{ data['prototype-service'] }}</li>
            </ul>

            <h2 class="govuk-heading-m">Contact us</h2>

            {% if data['prototype-service'] == 'PRaP' %}
                <p>PRaP Operational Support Team</p>

                <p>
                    Opening times:<br>
                    <strong>Monday to Friday: 9:00am to 4:00pm</strong>
                </p>

                <p>
                    Telephone:<br>
                    <strong>0345 604 5406</strong>
                </p>

                <p>
                    Email:<br>
                    <a href="#" class="govuk-link">prap.support@dwp.gsi.gov.uk</a>
                </p>
            {% elseif data['prototype-service'] == 'HTDS' %}
                <p>HTDS Operational Support Team</p>

                <p>
                    Opening times:<br>
                    <strong>Monday to Friday: 9:00am to 4:00pm</strong>
                </p>

                <p>
                    Telephone:<br>
                    <strong>0345 604 5406</strong>
                </p>

                <p>
                    Email:<br>
                    <a href="#" class="govuk-link">htds.support@dwp.gsi.gov.uk</a>
                </p>
            {% elseif data['prototype-service'] == 'ESF' %}
                <p>ESF Operational Support Team</p>

                <p>
                    Opening times:<br>
                    <strong>Monday to Friday: 9:00am to 4:00pm</strong>
                </p>

                <p>
                    Telephone:<br>
                    <strong>0345 604 5406</strong>
                </p>

                <p>
                    Email:<br>
                    <a href="#" class="govuk-link">esf.support@dwp.gsi.gov.uk</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
