{{ govukRadios({
  classes: "govuk-radios--small govuk-radios--inline",
  idPrefix: "user-access-rights-add-org-users",
  name: "user-access-rights-add-org-users",
  fieldset: {
    legend: {
      text: "User needs to be able to create new users and add to a partner organisation",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s govuk-!-font-weight-regular"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: checked("['user-access-rights-add-org-users']", "Yes")
    },
    {
      value: "No",
      text: "No",
      checked: checked("['user-access-rights-add-org-users']", "No")
    }
  ]
}) }}

{{ govukRadios({
  classes: "govuk-radios--small govuk-radios--inline",
  idPrefix: "user-access-rights-add-org-services",
  name: "user-access-rights-add-org-services",
  fieldset: {
    legend: {
      text: "User needs to be able to add existing services to a partner organisation",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s govuk-!-font-weight-regular"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: checked("['user-access-rights-add-org-services']", "Yes")
    },
    {
      value: "No",
      text: "No",
      checked: checked("['user-access-rights-add-org-services']", "No")
    }
  ]
}) }}

{{ govukRadios({
  classes: "govuk-radios--small govuk-radios--inline",
  idPrefix: "user-access-rights-add-organisations",
  name: "user-access-rights-add-organisations",
  fieldset: {
    legend: {
      text: "User needs to be able to create new partner organisations",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s govuk-!-font-weight-regular"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: checked("['user-access-rights-add-organisations']", "Yes")
    },
    {
      value: "No",
      text: "No",
      checked: checked("['user-access-rights-add-organisations']", "No")
    }
  ]
}) }}
