{{ govukRadios({
  classes: "govuk-radios--small govuk-radios--inline",
  idPrefix: "user-access-rights-add-org-users",
  name: "user-access-rights-add-org-users",
  fieldset: {
    legend: {
      text: "User needs to be able to create new users and add to a partner organisation",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s govuk-!-font-weight-regular"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  classes: "govuk-radios--small govuk-radios--inline",
  idPrefix: "user-access-rights-add-org-services",
  name: "user-access-rights-add-org-services",
  fieldset: {
    legend: {
      text: "User needs to be able to add existing services to a partner organisation",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s govuk-!-font-weight-regular"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  classes: "govuk-radios--small govuk-radios--inline",
  idPrefix: "user-access-rights-add-organisations",
  name: "user-access-rights-add-organisations",
  fieldset: {
    legend: {
      text: "User needs to be able to create new partner organisations",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s govuk-!-font-weight-regular"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  classes: "govuk-radios--small govuk-radios--inline",
  idPrefix: "user-access-rights-add-services",
  name: "user-access-rights-add-services",
  fieldset: {
    legend: {
      text: "User needs to be able to add existing services to a service group",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s govuk-!-font-weight-regular"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  classes: "govuk-radios--small govuk-radios--inline",
  idPrefix: "user-access-rights-add-services",
  name: "user-access-rights-add-services",
  fieldset: {
    legend: {
      text: "User needs to be able to create new services",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s govuk-!-font-weight-regular"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  classes: "govuk-radios--small govuk-radios--inline",
  idPrefix: "user-access-rights-add-service-groups",
  name: "user-access-rights-add-service-groups",
  fieldset: {
    legend: {
      text: "User needs to be able to create new service groups",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s govuk-!-font-weight-regular"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}
