{% extends "layout.html" %}

{% block pageTitle %}
  New organisation request sent - {{ data['organisation-name-custom'] }}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "New organisation request sent",
                html: data["organisation-name-custom"]
            }) }}

            {% if data['contact-1-first-name'] and data['contact-2-first-name'] and data['address-line-1'] %}
            <p>
                <a href="../../users/add/custom" class="govuk-link">
                    Add a user to {{ data['organisation-name-custom'] }}
                </a>
            </p>
            {% endif %}

            <p>Dave Fenton has been notified of your request.</p>

            <p>
                <a href="../../dashboard" class="govuk-link">
                    Back to dashboard
                </a>
            </p>
        </div>
    </div>
{% endblock %}