{% extends "layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block content %}
  {{releaseVersion | log}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{serviceName}}
        <span class="govuk-caption-xl">v1</span>
      </h1>

      <p class="govuk-caption-m">
        Created: <time datetime="2019-10-09">16 October 2019</time>
      </p>

      <h2 class="govuk-heading-m">Initial prototype</h2>

      <a href="/v1/dashboard-root" class="govuk-button">Open prototype</a>
    </div>
  </div>
{% endblock %}
