{% extends "layout.html" %}

{% block pageTitle %}
    {{serviceName}}
{% endblock %}

{% block content %}
    {{releaseVersion | log}}

    <h1 class="govuk-heading-xl">
        {{serviceName}}
    </h1>

    <div class="govuk-tabs" data-module="tabs">
        <h2 class="govuk-tabs__title">
            Prototype versions
        </h2>

        {% set researchVersionsHtml %}
            <time datetime="2020-02-10" class="govuk-caption-m">10 February 2020</time>

            <h2 class="govuk-heading-l">v7</h2>

            <form action="/v7/index-check" method="post" class="form">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            {{ govukSelect({
                                id: "prototype-service",
                                name: "prototype-service",
                                label: {
                                    text: "Service"
                                },
                                items: [
                                    {
                                        value: "HTDS",
                                        text: "HTDS",
                                        selected: true
                                    },
                                    {
                                        value: "PRaP",
                                        text: "PRaP"
                                    },
                                    {
                                        value: "ESF",
                                        text: "ESF"
                                    }
                                ]
                            }) }}

                            {{ govukSelect({
                                id: "prototype-organisation",
                                name: "prototype-organisation",
                                label: {
                                    text: "Organisation"
                                },
                                hint: {
                                    text: "Used on admin registration journey emails and organisation admin/standard user dashboard journeys"
                                },
                                items: [
                                    {
                                        value: "CHDA",
                                        text: "CHDA",
                                        attributes: {
                                            "data-machine": "chda.com"
                                        }
                                    },
                                    {
                                        value: "Capita",
                                        text: "Capita",
                                        attributes: {
                                            "data-machine": "capita.co.uk"
                                        }
                                    },
                                    {
                                        value: "Serco",
                                        text: "Serco",
                                        attributes: {
                                            "data-machine": "serco.com"
                                        }
                                    },
                                    {
                                        value: "Remploy",
                                        text: "Remploy",
                                        attributes: {
                                            "data-machine": "remploy.uk"
                                        }
                                    },
                                    {
                                        value: "G4S",
                                        text: "G4S",
                                        attributes: {
                                            "data-machine": "g4s.com"
                                        }
                                    },
                                    {
                                        value: "PeoplePlus",
                                        text: "PeoplePlus",
                                        attributes: {
                                            "data-machine": "peopleplus.co.uk"
                                        }
                                    },
                                    {
                                        value: "The Salvation Army Employment Plus",
                                        text: "The Salvation Army Employment Plus",
                                        attributes: {
                                            "data-machine": "salvationarmy.org.uk"
                                        }
                                    },
                                    {
                                        value: "Clarion Futures Jobs & Training",
                                        text: "Clarion Futures Jobs & Training",
                                        attributes: {
                                            "data-machine": "clarionhg.com"
                                        }
                                    },
                                    {
                                        value: "Ingeus",
                                        text: "Ingeus",
                                        attributes: {
                                            "data-machine": "ingeus.com"
                                        }
                                    },
                                    {
                                        value: "Nottingham City Council",
                                        text: "Nottingham City Council",
                                        attributes: {
                                            "data-machine": "nottinghamcity.gov.uk"
                                        }
                                    },
                                     {
                                        value: "Pluss",
                                        text: "Pluss",
                                        attributes: {
                                            "data-machine": "pluss.org.uk"
                                        }
                                    },
                                    {
                                        value: "The Growth Company",
                                        text: "The Growth Company",
                                        attributes: {
                                            "data-machine": "growthco.uk"
                                        }
                                    },
                                    {
                                        value: "Pinnacle People",
                                        text: "Pinnacle People",
                                        attributes: {
                                            "data-machine": "pinnaclepeople.co.uk"
                                        }
                                    },
                                    {
                                        value: "Shaw Trust",
                                        text: "Shaw Trust",
                                        attributes: {
                                            "data-machine": "shaw-trust.org.uk"
                                        }
                                    },
                                    {
                                        value: "London Borough of Croydon Council",
                                        text: "London Borough of Croydon Council",
                                        attributes: {
                                            "data-machine": "london-croydon.gov.uk"
                                        }
                                    }
                                ]
                            }) }}

                            <input type="hidden" id="prototype-organisation-machine" name="prototype-organisation-machine" value="chda.com">

                            {{ govukSelect({
                                id: "prototype-route",
                                name: "prototype-route",
                                label: {
                                    text: "Route"
                                },
                                items: [
                                    {
                                        value: "l2-register",
                                        text: "View L2 user registration journey"
                                    },
                                    {
                                        value: "l3-register",
                                        text: "View L3 user registration journey"
                                    },
                                    {
                                        value: "l4-register",
                                        text: "View L4 user registration journey"
                                    },
                                    {
                                        value: "l2-reset",
                                        text: "View L2 password reset journey"
                                    },
                                    {
                                        value: "l4-reset",
                                        text: "View L4 password reset journey"
                                    },
                                    {
                                        value: "l2-dashboard",
                                        text: "View as a L2 service admin"
                                    },
                                    {
                                        value: "l3-dashboard",
                                        text: "View as a L3 organisation admin"
                                    },
                                    {
                                        value: "l4-dashboard",
                                        text: "View as a L4 standard user"
                                    },
                                    {
                                        value: "l2-dashboard-requester",
                                        text: "View as a L2 service admin - requester"
                                    },
                                    {
                                        value: "l2-dashboard-authoriser",
                                        text: "View as a L2 service admin - authoriser"
                                    }
                                ]
                            }) }}
                        </div>

                        <div class="govuk-grid-column-one-half">
                            {{ govukInput({
                                label: {
                                    text: "First name"
                                },
                                id: "prototype-firstname",
                                name: "prototype-firstname",
                                classes: "govuk-!-width-one-half",
                                hint: {
                                    text: "Used on 'register' and 'sign in' journey emails"
                                }
                            }) }}

                            {{ govukInput({
                                label: {
                                    text: "Last name"
                                },
                                id: "prototype-lastname",
                                name: "prototype-lastname",
                                classes: "govuk-!-width-one-half",
                                hint: {
                                    text: "Used on 'register' and 'sign in' journey emails"
                                }
                            }) }}

                            {{ govukSelect({
                                id: "prototype-mfa",
                                name: "prototype-mfa",
                                label: {
                                    text: "MFA?"
                                },
                                hint: {
                                    text: "Are you using single or multifactor authentication?"
                                },
                                items: [
                                    {
                                        value: "single",
                                        text: "Single",
                                        selected: true
                                    },
                                    {
                                        value: "multiple",
                                        text: "Multiple"
                                    }
                                ]
                            }) }}
                        </div>
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <button type="submit" class="govuk-button govuk-!-margin-right-1 govuk-!-margin-top-7">
                                Continue
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>

            <h3 class="govuk-heading-s">General changes</h3>

            <ul class="govuk-list govuk-list--bullet">
                <li>
                    Added React single-pager apps for <a href="/single/users/" class="govuk-link">User list/Single user view/Email search results</a> and <a href="/single/orgs/" class="govuk-link">organisations list</a> researching. Added due to complexity required in user research testing scenarios, and lack of flexibility for this in prototype kit.
                </li>
                <li>
                    Added revised user list <a href="/v7/l2/users/view/all">filter controls</a>
                </li>
                <li>
                    Added a <a href="/v7/l2/users/view/all">basic search</a> - search by complete email address
                </li>
                <li>
                    Added a new journey for <a href="/v7/l2/users/add-multiple-orgs/start">adding a user to multiple organisations</a>
                </li>
                <li>
                    Increased prominence of user search box hint text due to some users not noticing it
                </li>
                <li>
                    Added an alternative journey for <a href="/v7/l2/users/add-multiple-orgs-checkboxes/details">adding a user to multiple organisations</a>
                </li>
                <li>
                    Added description about what <a href="/v7/l3/users/view/single-jn">access expired</a> status means on L3 user details page
                </li>
                <li>
                    Added route to <a href="/v7/l3/users/view/single-jn">restore access</a> to access expired status user on L3 user details page
                </li>
                <li>
                    Edited heading logo text to 'DWP Authenticate admin portal' to make it clearer what a the user is signing into
                </li>
                <li>
                    Removed superfluous content on the sign in pages based on the above change to the logo text in the header
                </li>
                 <li>
                    Removed 'Invite expired' status after team review
                </li>
                <li>
                    Removed 'Signed out' page after team review
                </li>
                <li>
                    Added new <a href="/v7/l2-authoriser/dashboard">your tasks</a> card on the authoriser dashboard  
                </li>
                <li>
                    Added new <a href="/v7/l2-authoriser/requests/view/all">your tasks</a> list for authorisers</a>  
                </li>
                <li>
                    Added new <a href="/v7/l2-authoriser/requests/view/single-new-user">request review</a> page for authorisers</a>  
                </li>
                 <li>
                    Added revised <a href="/v7/l2-requester/users/add/start">add new user</a> journey for requests/authorisations inc. new user metadata</a>  
                </li>
                <li>
                    Added revised <a href="/v7/l2-requester/orgs/add/start">add new organisation</a> journey for requests/authorisations 
                </li>
            </ul>


            <h3 class="govuk-heading-s">Useful links</h3>

            <ul class="govuk-list govuk-list--bullet">
                <li><a href="/public/files/insights/Sprint-15-and-16-summary.ppt">UR summary sprint 15 & 16</a></li>
                <li><a href="/public/files/insights/Sprint-15-16-test-results-collated-L3-prototype-7.xlsx">Sprint 15 & 16 L3 organisation admins collated test results</a></li>
                <li><a href="/public/files/insights/Discovery-in-Alpha-3.4.20.ppt">UR discovery observations</a></li>
                <li><a href="/public/files/discussion/DWP-Authenticate-admin-v7-sprint-15-and-16.docx">UR discussion guide</a></li>
            </ul>



            <h3 class="govuk-heading-s">Confidence level</h3>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">User journey step</th>
                        <th class="govuk-table__header" scope="col">Confidence</th>
                        <th class="govuk-table__header" scope="col">Dev Ready</th>
                        <th class="govuk-table__header govuk-!-width-one-third" scope="col">Notes</th>
                    </tr>
                </thead>

                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/add-service/start">Add your service</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--low">Low</span></td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">Journey not explored and business requirements needed</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/users/register/email">Register email</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--high">High</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Iteration tested well in the most recent round of research</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/users/register/password">Password creation during registration</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--high">High</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Iteration tested well in the most recent round of research</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/users/register/mobile">Mobile 2FA</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--high">High</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Tested well but want to check again when live</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/users/register/app-check">App or text message question</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--high">High</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Iteration tested well in the most recent round of research</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/users/register/qr">Authenticator app setup</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--medium">Medium</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Tested well with the 2 users who chose the app instead of text messages</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/email">Sign in email</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--high">high</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Tested well with all users in progressive rounds of research</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/signin">Sign in</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--high">High</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Tested well with 10 users</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/signin">Sign out</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--high">High</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Tested well with 5 users</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/users/reset-password/start">Password reset</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--high">high</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Tested well with 9 users</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/dashboard">Service admin dashboard</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--high">high</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Tested well with all users</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/orgs/view/all">Organisation list</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--medium">medium</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Initially tested well, full user need not yet understood</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/orgs/add/start">Add a new organisation</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--low">low</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Business requirements needed</td>
                    </tr>

                     <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/orgs/view/capita">Organisation details</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--low">low</span></td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">Journey not explored and business requirements needed</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/orgs/view/capita">Delete organisation</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--low">low</span></td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">Journey not explored and business requirements needed</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/users/view/all">User list inc. filter/sort</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--high">High</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Iteration tested well in the most recent round of research</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/users/view/all">Search for a user by email address</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--low">low</span></td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">Entirely disfavoured, 9 out of 10 users failed to use successfully</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/users/add/start">Add a new user</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--high">High</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Users have been able to complete task but multiple ways to do this and not all journeys explored</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/users/add-multiple-orgs/start">Add a new user to multiple organisations</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--low">Low</span></td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">Journey not explored</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/users/add-multiple-orgs-checkboxes/details">Add a new user to multiple organisations - alternate journey</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--low">Low</span></td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">Journey not explored</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l3/users/view/single">User details</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--high">high</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Journey not explored and business requirements needed</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l3/users/view/single">Resend invite from dashboard</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--high">high</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Tested well with 8 users, all able to navigate from the dashboard and complete the task</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l3/users/view/single">Restore user access from dashboard</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--high">high</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Tested well with 8 users, all able to navigate from the dashboard and complete the task</td>
                    </tr>

                     <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2/users/view/single">Delete user</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--high">High</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Tests well and meets MVP requirements, further investigation may be required around where deleted users are stored within the system</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l3/dashboard">Organisation admin dashboard</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--high">high</span></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Tested well and works for MVP, one user identified it as a useful place for notifications</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2-requester/dashboard">L2 Requester dashboard</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--low">Low</span></td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">Journey not explored and business requirements needed</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2-requester/users/add/start">L2 Requester - add a new user</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--low">Low</span></td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">Journey not explored and business requirements needed</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2-requester/orgs/add/start">L2 Requester - add a new organisation</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--low">Low</span></td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">Journey not explored and business requirements needed</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2-requester/requests/view/all">L2 Requester - requests list</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--low">Low</span></td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">Journey not explored and business requirements needed</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2-requester/dashboard">L2 Authoriser dashboard</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--low">Low</span></td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">Journey not explored and business requirements needed</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2-authoriser/requests/view/all">L2 Authoriser - tasks list</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--low">Low</span></td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">Journey not explored and business requirements needed</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/v7/l2-authoriser/requests/view/single-new-user">L2 Authoriser - authorise request</a></td>
                        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--low">Low</span></td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">Journey not explored and business requirements needed</td>
                    </tr>
                </tbody>
            </table>

            {% include 'includes/prev-versions-research.html' %}
        {% endset %}

        {% set devVersionsHtml %}
            <time datetime="2020-02-28" class="govuk-caption-m">28 February 2020</time>

            <h2 class="govuk-heading-l">Dev-ready v2</h2>

            <form action="/dev2/index-check" method="post" class="form">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            {{ govukSelect({
                                id: "prototype-service",
                                name: "prototype-service",
                                label: {
                                    text: "Service"
                                },
                                items: [
                                    {
                                        value: "HTDS",
                                        text: "HTDS",
                                        selected: true
                                    },
                                    {
                                        value: "PRaP",
                                        text: "PRaP"
                                    },
                                    {
                                        value: "ESF",
                                        text: "ESF"
                                    }
                                ]
                            }) }}

                            {{ govukSelect({
                                id: "prototype-organisation",
                                name: "prototype-organisation",
                                label: {
                                    text: "Organisation"
                                },
                                hint: {
                                    text: "Used on admin registration journey emails and organisation admin/standard user dashboard journeys"
                                },
                                items: [
                                    {
                                        value: "CHDA",
                                        text: "CHDA",
                                        attributes: {
                                            "data-machine": "chda.com"
                                        }
                                    },
                                    {
                                        value: "Capita",
                                        text: "Capita",
                                        attributes: {
                                            "data-machine": "capita.co.uk"
                                        }
                                    },
                                    {
                                        value: "Serco",
                                        text: "Serco",
                                        attributes: {
                                            "data-machine": "serco.com"
                                        }
                                    },
                                    {
                                        value: "Remploy",
                                        text: "Remploy",
                                        attributes: {
                                            "data-machine": "remploy.uk"
                                        }
                                    },
                                    {
                                        value: "G4S",
                                        text: "G4S",
                                        attributes: {
                                            "data-machine": "g4s.com"
                                        }
                                    },
                                    {
                                        value: "PeoplePlus",
                                        text: "PeoplePlus",
                                        attributes: {
                                            "data-machine": "peopleplus.co.uk"
                                        }
                                    },
                                    {
                                        value: "London Borough of Croydon Council",
                                        text: "London Borough of Croydon Council",
                                        attributes: {
                                            "data-machine": "london-croydon.gov.uk"
                                        }
                                    }
                                ]
                            }) }}

                            <input type="hidden" id="prototype-organisation-machine" name="prototype-organisation-machine" value="chda.com">

                            {{ govukSelect({
                                id: "prototype-route",
                                name: "prototype-route",
                                label: {
                                    text: "Route"
                                },
                                items: [
                                    {
                                        value: "l2-register",
                                        text: "View L2 user registration journey"
                                    },
                                    {
                                        value: "l3-register",
                                        text: "View L3 user registration journey"
                                    },
                                    {
                                        value: "l4-register",
                                        text: "View L4 user registration journey"
                                    },
                                    {
                                        value: "l2-reset",
                                        text: "View L2 password reset journey"
                                    },
                                    {
                                        value: "l4-reset",
                                        text: "View L4 password reset journey"
                                    },
                                    {
                                        value: "l2-dashboard",
                                        text: "View as a L2 service admin"
                                    },
                                    {
                                        value: "l3-dashboard",
                                        text: "View as a L3 organisation admin"
                                    },
                                    {
                                        value: "l4-dashboard",
                                        text: "View as a L4 standard user"
                                    }
                                ]
                            }) }}
                        </div>

                        <div class="govuk-grid-column-one-half">
                            {{ govukInput({
                                label: {
                                    text: "First name"
                                },
                                id: "prototype-firstname",
                                name: "prototype-firstname",
                                classes: "govuk-!-width-one-half",
                                hint: {
                                    text: "Used on 'register' and 'sign in' journey emails"
                                }
                            }) }}

                            {{ govukInput({
                                label: {
                                    text: "Last name"
                                },
                                id: "prototype-lastname",
                                name: "prototype-lastname",
                                classes: "govuk-!-width-one-half",
                                hint: {
                                    text: "Used on 'register' and 'sign in' journey emails"
                                }
                            }) }}

                            {{ govukSelect({
                                id: "prototype-mfa",
                                name: "prototype-mfa",
                                label: {
                                    text: "MFA?"
                                },
                                hint: {
                                    text: "Are you using single or multifactor authentication?"
                                },
                                items: [
                                    {
                                        value: "single",
                                        text: "Single",
                                        selected: true
                                    },
                                    {
                                        value: "multiple",
                                        text: "Multiple"
                                    }
                                ]
                            }) }}
                        </div>
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <button type="submit" class="govuk-button govuk-!-margin-right-1 govuk-!-margin-top-7">
                                Continue
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>

            <h3 class="govuk-heading-s">General changes</h3>

            <ul class="govuk-list govuk-list--bullet">
                <li>
                    What we're moving over...
                </li>
            </ul>

            {% include 'includes/prev-versions-dev.html' %}
        {% endset %}

        {{ govukTabs({
            items: [
                {
                    label: "Research versions",
                    id: "research-versions",
                    panel: {
                        html: researchVersionsHtml
                    }
                },
                {
                    label: "Dev-ready versions",
                    id: "dev-versions",
                    panel: {
                        html: devVersionsHtml
                    }
                }
            ]
        }) }}
    </div>
{% endblock %}

{% block pageScripts %}
    <script>
        var orgNameElem = document.getElementById('prototype-organisation');
        var orgNameMachineElem = document.getElementById('prototype-organisation-machine');

        orgNameElem.addEventListener('change', function(e) {
            var newValue = e.target.options[e.target.selectedIndex].dataset.machine;

            console.log('setting machine name to:', newValue)

            orgNameMachineElem.value = newValue;
        });
    </script>
{% endblock %}
