{% extends "layout.html" %}

{% block pageTitle %}
  Dashboard - System - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v3/includes/nav.html" %}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Dashboard</h1>

<div class="govuk-cards govuk-cards--2">
  <div class="govuk-cards--2__item govuk-cards--2__item--dashboard">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Services</h2>

    <p class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-visually-hidden">There are currently</span>
        11
      <span class="govuk-visually-hidden">services in the system</span>
    </p>

    <ul class="govuk-list">
      <li>
        <a href="/v3/service-add" class="govuk-link">Add a new service</a>
      </li>

      <li>
        <a href="/v3/service-list" class="govuk-link">View services</a>
      </li>
    </ul>
  </div>

  <div class="govuk-cards--2__item govuk-cards--2__item--dashboard">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Organisations</h2>

    <p class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-visually-hidden">There are currently</span>
        90
      <span class="govuk-visually-hidden">organisations in the system</span>
    </p>

    <ul class="govuk-list">
      <li>
        <a href="/v3/organisation-add" class="govuk-link">Add a new organisation</a>
      </li>

      <li>
        <a href="/v3/organisation-list" class="govuk-link">View organisations</a>
      </li>
    </ul>
  </div>

  <div class="govuk-cards--2__item govuk-cards--2__item--dashboard">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Users</h2>

    <p class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-visually-hidden">There are currently</span>
        327
      <span class="govuk-visually-hidden">users in the system</span>
    </p>

    <ul class="govuk-list">
      <li>
        <a href="/v3/user-add" class="govuk-link">Add a new user</a>
      </li>

      <li>
        <a href="#" class="govuk-link">Upload file to add new users</a>
      </li>

      <li>
        <a href="/v3/user-list" class="govuk-link">View users</a>
      </ul>
  </div>
</div>
{% endblock %}
