{% extends "layout.html" %}

{% block pageTitle %}
  Dashboard - PRaP - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Provider Referrals and Payments (PRaP)</h1>

<div class="govuk-cards govuk-cards--2">
    <div class="govuk-cards--2__item govuk-card--dashboard">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Organisations</h2>

        <p class="govuk-heading-xl govuk-!-margin-bottom-5">
            <span class="govuk-visually-hidden">There are currently</span>

            {% if data['organisation-name'] %}
                1
            {% else %}
                0
            {% endif %}

            <span class="govuk-visually-hidden">organisations in the system</span>
        </p>

        <ul class="govuk-list">
            <li>
                <a href="organisation-add-prap-empty" class="govuk-link">Add an organisation</a>
            </li>

            {% if data['organisation-name'] %}
            <li>
                <a href="organisation-list-prap-from-empty" class="govuk-link">View all organisations</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="govuk-cards--2__item govuk-card--dashboard">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Users</h2>

        <p class="govuk-heading-xl govuk-!-margin-bottom-5">
            <span class="govuk-visually-hidden">There are currently</span>

            {% if data['user-full-name'] %}
                1
            {% else %}
                0
            {% endif %}

            <span class="govuk-visually-hidden">users in the system</span>
        </p>

        <ul class="govuk-list">
            {% if data['organisation-name'] %}
            <li>
                <a href="user-add-user-prap-new" class="govuk-link">Add a user</a>
            </li>
            {% endif %}

            <li>
                <a href="user-add-user-prap-dwp" class="govuk-link">Add a service admin</a>
            </li>

            {% if data['organisation-name'] %}
            <li>
                <a href="user-list-prap" class="govuk-link">View all users</a>
            </li>
            {% endif %}
        </ul>

        {% if not data['organisation-name'] %}
        <p>
            You need to <a href="organisation-add-prap-empty" class="govuk-link">add an organisation</a> before you can add users.
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
