{% extends "layout.html" %}

{% block pageTitle %}
Delete user - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}

{% if data['delete-check'] == 'delete-no' %}
<script>
    window.location.href = 'user-view'
</script>
{% endif %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

        {{ govukPanel({

      
          titleText: "User deleted"
  
    
        }) }}



      <p> David Batty has been deleted.</p>

   
      <p><a href="dashboard-service-prap" class="govuk-link">Back to dashboard</a></p>
    </div>
  </div>
{% endblock %}
