{% extends "layout.html" %}

{% block pageTitle %}
  Delete user - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block beforeContent %}
  {% include '../includes/back-button.njk' %}
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      <form id="form" method="post" action="delete-confirm">


        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "delete-check",
          name: "delete-check",
          fieldset: {
            legend: {
              text: "Are you sure you want to delete " + data["user-full-name"] + "?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "delete-yes",
              text: "Yes, delete the user"
            },
            {
              value: "delete-no",
              text: "No"
            }
          ]
        }) }}


        <input type="submit" class="govuk-button govuk-!-margin-right-1" value="Continue" id="submit">


      </form>
     

    </div>
  </div>
{% endblock %}
