{% extends "layout.html" %}

{% block pageTitle %}
  Organisation added - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: data["organisation-name"] + " created"
    }) }}

    <a href="organisation-list-prap" class="govuk-link">View all organisations</a><br>
    <a href="organisation-add-prap" class="govuk-link">Add another organisation</a><br>
    <a href="dashboard-service-prap" class="govuk-link">Go to the dashboard</a>
  </div>
</div>
{% endblock %}
