{% extends "layout.html" %}

{% block pageTitle %}
  Organisation added - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
            titleText: "Organisation added",
            html: data["organisation-name"]
        }) }}

        <p>
            <a href="user-add-user-prap-new" class="govuk-link">
                Add a user to {{ data['organisation-name'] }}
            </a><br>

      html: data["organisation-name"]
    }) }}

    <p><a href="user-add-user-prap-new" class="govuk-link">Add a user to {{ data['organisation-name'] }}</a><br>
    
    <p><a href="dashboard-service-prap" class="govuk-link">Back to dashboard</a></p>
  </div>
            <a href="dashboard-service-prap" class="govuk-link">
                Go to the dashboard
            </a>
        </p>
    </div>
</div>
{% endblock %}
