{% extends "layout.html" %}

{% block pageTitle %}
  Organisation added - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: data["organisation-name"] + " organisation created"
    }) }}

    <p>An invitation has been sent to {{data['organisation-admin-email-address']}}</p>

    <a href="organisation-list-health-assessment" class="govuk-link">View all organisations</a><br>
    <a href="organisation-add-health-assessment" class="govuk-link">Add another organisation</a><br>
    <a href="dashboard-service-health-assessment" class="govuk-link">Go to the dashboard</a>
  </div>
</div>
{% endblock %}
