{% extends "layout.html" %}

{% block pageTitle %}
    Add new organisation - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block beforeContent %}
  {% include '../includes/back-button.njk' %}
{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="organisation-add-contact" method="post" class="form">
                {{ govukFieldset({
                    legend: {
                    html: '<span class="govuk-caption-l">Add an organisation</span>Do you want to add details for organisation contacts?',
                    classes: "govuk-fieldset__legend--l",
                    isPageHeading: true
                    }
                })}}

                <span id="dob-hint" class="govuk-hint">
                    An organisation contact is required to allow user access to the service.
                  </span>

                {{ govukRadios({
                    classes: "govuk-radios",
                    idPrefix: "add-org-contacts",
                    name: "add-org-contacts",
                    
                    items: [
                      {
                        value: "add-org-contacts-yes",
                        text: "Yes"
                      },
                      {
                        value: "add-org-contacts-no",
                        text: "No"
                      }
                    ]
                  }) }}


                  
                   

                    <button type="submit" class="govuk-button" id="submit">
                      Continue
                  </button>
            </form>
        </div>
    </div>
{% endblock %}

