{% extends "layout.html" %}

{% block pageTitle %}
    Edit service - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v3/includes/nav.html" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="service-edit-support" method="post" class="form">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Set up your service</span>
                        Service details
                    </legend>

                    {{ govukInput({
                        label: {
                            text: "Service name"
                        },
                        id: "service-name",
                        name: "service-name",
                        classes: "govuk-!-width-three-quarters",
                        value: data["service-name"]
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Homepage URL"
                        },
                        id: "service-homepage-url",
                        name: "service-homepage-url",
                        classes: "govuk-!-width-three-quarters",
                        value: data["service-homepage-url"]
                    }) }}

                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
