{% extends "layout.html" %}

{% block pageTitle %}
    Set up your service - choose security policies - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v3/includes/nav.html" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="service-edit-email-templates" method="post" class="form">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Set up your service</span>
                        Choose your securty policies
                    </legend>

                    {{ govukRadios({
                        idPrefix: "service-policy-signup",
                        name: "service-policy-signup",
                        fieldset: {
                            legend: {
                                text: "Sign up policy",
                                isPageHeading: false
                            }
                        },
                        items: [
                            {
                                value: "Health sign up policy",
                                text: "Health sign up policy",
                                checked: checked("['service-policy-signup']", "Health sign up policy")
                            },
                            {
                                value: "PRaPs sign up policy",
                                text: "PRaPs sign up policy",
                                checked: checked("['service-policy-signup']", "PRaPs sign up policy")
                            },
                            {
                                value: "Default sign up policy",
                                text: "Default sign up policy",
                                checked: checked("['service-policy-signup']", "Default sign up policy")
                            }
                        ]
                    }) }}

                    {{ govukRadios({
                        idPrefix: "service-policy-signin",
                        name: "service-policy-signin",
                        fieldset: {
                            legend: {
                                text: "Sign in policy",
                                isPageHeading: false
                            }
                        },
                        items: [
                            {
                                value: "Health sign in policy",
                                text: "Health sign in policy",
                                checked: checked("['service-policy-signin']", "Health sign in policy")
                            },
                            {
                                value: "PRaPs sign in policy",
                                text: "PRaPs sign in policy",
                                checked: checked("['service-policy-signin']", "PRaPs sign in policy")
                            },
                            {
                                value: "Default sign in policy",
                                text: "Default sign in policy",
                                checked: checked("['service-policy-signin']", "Default sign in policy")
                            }
                        ]
                    }) }}

                    {{ govukRadios({
                        idPrefix: "service-policy-password",
                        name: "service-policy-password",
                        fieldset: {
                            legend: {
                                text: "Password reset policy",
                                isPageHeading: false
                            }
                        },
                        items: [
                            {
                                value: "Health password reset policy",
                                text: "Health password reset policy",
                                checked: checked("['service-policy-password']", "Health password reset policy")
                            },
                            {
                                value: "PRaPs password reset policy",
                                text: "PRaPs password reset policy",
                                checked: checked("['service-policy-password']", "PRaPs password reset policy")
                            },
                            {
                                value: "Default password reset policy",
                                text: "Default password reset policy",
                                checked: checked("['service-policy-password']", "Default password reset policy")
                            }
                        ]
                    }) }}

                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
