{% extends "layout.html" %}

{% block pageTitle %}
  Dashboard - PRaP - {{serviceName}}
{% endblock %}

{% block header %}
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{serviceName}}
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="citizen-details-b" method="post">

          <h1 class="govuk-heading-l">You have signed out</h1>

          <p><a href="signin">Sign in again</a></p>

      </form>
    </div>
  </div>

{% endblock %}
