{% extends "layout.html" %}

{% block pageTitle %}
  Add new user - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="user-confirmation-health-assessment" method="post" class="form">
                {{ govukFieldset({
                    legend: {
                        html: '<span class="govuk-caption-l">Add a new service admin</span>Service admin details',
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                {{ govukSelect({
                    id: "user-service",
                    name: "user-service",
                    label: {
                        text: "Service"
                    },
                    items: [
                        {
                            value: "",
                            text: "None"
                        },
                        {
                            value: "Health Assessments",
                            text: "Health Assessments"
                        },
                        {
                            value: "PRAP",
                            text: "PRAP"
                        },
                        {
                            value: "Blue Badge",
                            text: "Blue Badge"
                        },
                        {
                            value: "Something Else",
                            text: "Something Else"
                        }
                    ]
                }) }}

                {{ govukInput({
                    label: {
                        text: "Full name"
                    },
                    id: "user-full-name",
                    name: "user-full-name",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Email address"
                    },
                    id: "user-email-address",
                    name: "user-email-address",
                    type: "email",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Phone number"
                    },
                    id: "user-phone-number",
                    name: "user-phone-number",
                    type: "tel",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
