{% extends "layout.html" %}

{% block pageTitle %}
  Edit user - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}

    {% include "v3/includes/nav.html" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="user-summary-edit" method="post" class="form">
                {{ govukFieldset({
                    legend: {
                        html: '<span class="govuk-caption-l">Edit user</span>Choose permissions',
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                {% include "v3/includes/user-access-rights.html" %}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
