{% extends "layout.html" %}

{% block pageTitle %}
    User details - {{siteName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block beforeContent %}
  {% include '../includes/back-button.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                User details
            </h1>

            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Name"
                        },
                        value: {
                            text: data['user-full-name']
                        }
                    },
                    {
                        key: {
                            text: "Email address"
                        },
                        value: {
                            text: data['user-email-address']
                        }
                    },
                    {
                        key: {
                            text: "Organisation"
                        },
                        value: {
                            text: data['organisation-name']
                        }
                    },
                    {
                        key: {
                            text: "Status"
                        },
                        value: {
                            html: "Active"
                        }
                    },
                    {
                        key: {
                            text: "Last logged in"
                        },
                        value: {
                            html: '21 October 2019'
                        }
                    },
                    {
                        key: {
                            text: "Created"
                        },
                        value: {
                            html: '9 April 1982, 7:52pm'
                        }
                    }
                ]
            }) }}

            <form id="form" method="post" action="reinvite-confirm">
            
            {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "user-task",
                name: "user-task",
                fieldset: {
                  legend: {
                    text: "Which task would you like to perform?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "reinvite",
                    text: "Resend invitation"
                  },
                  {
                    value: "suspend",
                    text: "Suspend the user"
                  },
                  {
                    value: "delete",
                    text: "Delete the user"
                  }
                ]
              }) }}


              <input type="submit" class="govuk-button govuk-!-margin-right-1" value="Continue" id="submit">



        </form>

            <p class="govuk-!-margin-top-9">
                <a href="dashboard-service-prap" class="govuk-link">Back to dashboard</a>
            </p>

        </div>
    </div>


    <script>
        var nextPageRoutes = {
          reinvite: 'reinvite-confirm.html',
          suspend: 'suspend-check.html',
          delete: 'delete-check.html',
        }
      </script>
{% endblock %}
