{% extends "layout.html" %}

{% block pageTitle %}
    User details - {{siteName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                User details
            </h1>

            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Name"
                        },
                        value: {
                            text: data['user-first-name'] + data['user-last-name']
                        }
                    },
                    {
                        key: {
                            text: "Email address"
                        },
                        value: {
                            text: data['user-email-address']
                        }
                    },
                    {
                        key: {
                            text: "Organisation"
                        },
                        value: {
                            text: data['organisation-name']
                        }
                    },
                    {
                        key: {
                            text: "Status"
                        },
                        value: {
                            html: "Active"
                        }
                    },
                    {
                        key: {
                            text: "Last logged in"
                        },
                        value: {
                            html: '21 October 2019'
                        }
                    },
                    {
                        key: {
                            text: "Created"
                        },
                        value: {
                            html: '9 April 1982, 7:52pm'
                        }
                    }
                ]
            }) }}

            <a href="#" class="govuk-button govuk-!-margin-right-1">Re-send invite</a>
            <a href="#" class="govuk-button govuk-button--secondary govuk-!-margin-right-1">Suspend user</a>

            <a href="#" class="govuk-button govuk-button--secondary">Delete user</a>

            <p class="govuk-!-margin-top-9">
                <a href="user-list-prap" class="govuk-link">Back to users list</a>
            </p>
        </div>
    </div>
{% endblock %}
