{% extends "layout.html" %}

{% block pageTitle %}
  Add new user - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="user-add-user-prap" method="post" class="form">
                {{ govukFieldset({
                    legend: {
                        html: '<span class="govuk-caption-l">Add a new user</span>Choose organisation',
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-visually-hidden" for="user-organisation">
                        Organisation
                    </label>

                    <select class="govuk-select form-control" name="user-organisation" id="user-organisation">
                        <option value="" selected>Choose an organisation</option>
                        <option value="BPDTS">BPDTS</option>
                        <option value="Capita">Capita</option>
                        <option value="DWP">DWP</option>
                        <option value="MoJ">MoJ</option>
                        <option value="MoD">MoD</option>
                        <option value="NHS">NHS</option>
                        <option value="Organisation R Us">Organisation R Us</option>
                        <option value="Somebody Else, Ltd">Somebody Else, Ltd</option>
                    </select>
                </div>

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}

{% block pageScripts %}
<link rel="stylesheet" href="/public/javascripts/accessible-autocomplete.min.css">
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
    accessibleAutocomplete.enhanceSelectElement({
        defaultValue: '',
        selectElement: document.getElementById('user-organisation')
    });
</script>
{% endblock %}
