{% extends "layout.html" %}

{% block pageTitle %}
  Add new user - {{serviceName}}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block beforeContent %}
  {% include '../includes/back-button.njk' %}
{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="user-confirmation-prap" method="post" class="form">
                {{ govukFieldset({
                    legend: {
                        html: '<h1 class="govuk-heading-l listing-page"><span class="govuk-caption-l">G4S</span>
                            Add a user</h1>',
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                {{ govukInput({
                    label: {
                        text: "First name"
                    },
                    id: "user-first-name",
                    name: "user-first-name",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Last name"
                    },
                    id: "user-last-name",
                    name: "user-last-name",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Email address"
                    },
                    id: "user-email-address",
                    name: "user-email-address",
                    type: "email",
                    classes: "govuk-!-width-three-quarters"
                }) }}

                <input class="govuk-input" id="organisation-name" name="organisation-name" value="G4S" type="hidden" >

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
